
.cssCode {
  font-family: Consolas, monaco, monospace; 
  font-size: 0.8rem;
  white-space: pre-wrap;
}

/**  Bugs Table **/
table.BZ-table {
 	background: rgb(254,204,177);
	background:    linear-gradient(to bottom, rgb(254, 204, 177) 0%, rgb(241, 116, 50) 50%, rgb(234, 85, 7) 51%, rgb(251, 149, 94) 100%);
	border: 2px solid rgba(80,80,80,0.8);
	box-shadow: 5px 5px 6px -1px rgba(0,0,0,0.7); /* CSS3= IE9 / Firefox 4+ */ 
	-webkit-box-shadow: 5px 5px 6px -1px rgba(0,0,0,0.7); /* Safari / Chrome (Webkit) */
	-khtml-box-shadow: 5px 5px 6px -1px rgba(0,0,0,0.7); /* KHTML */
}

table.BZ-table td:first-child {
	text-align: center;
}

table.BZ-table tr:nth-child(even) {
	background: rgba(100, 100, 100, 0.2);
}

table.BZ-table td {
	border: 1px solid rgba(80,80,80,0.3) !important;
	font-size: 10pt;
	font-family: Calibri, Arial, Sans-Serif;
	padding: 0.3em;
}

.BZ-th-bug {
	text-align: center
}

.BZ-th-bug, .BZ-th-desc {
	background: rgb(203,96,179);
	background: linear-gradient(to bottom, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
	border: 2px solid #EEE;
	color: #ffffff !important;
	text-shadow: #C0C0C0 0px 0px 1px;
	font-weight:normal;
	font-size: 10pt;
	padding: 0.5em 1em;
}

.BZ-strike {
    text-decoration: line-through;
}
