/* this was used for a temporary banner */

	.censorship div *,
	.censorship:hover div * {
		text-decoration:none !important;
		font-family: Calibri,Sans_Serif;
		font-weight: normal;
		font-size: 12pt;
	}

	.censorship {
		width: 50%;
		height: 30px;
		vertical-align:middle;text-align:center;
		background-color:#000;
		position:absolute;
		z-index:5555;
		top:220px;
		left:240px;
		box-shadow: 2px 2px 6px -1px rgba(0,0,0,0.4);
		-moz-transition-property: width, height, min-height, left, top,  box-shadow;
		-moz-transition-duration: 0.8s,  0.5s,   0.5s,       1.2s, 0.8s, 2s;
		-webkit-transition-property: width, height, min-height, left, top,  box-shadow;
		-webkit-transition-duration: 0.8s,  0.5s,   0.5s,       1.2s, 0.8s, 2s;
		-o-transition-property: width, height, min-height, left, top,  box-shadow;
		-o-transition-duration: 0.8s,  0.5s,   0.5s,       1.2s, 0.8s, 2s;
		opacity: 0.7;
		-moz-border-radius: 2px;

	}
	.censorship div {
		height: 100%;
		background-image:url(http://americancensorship.org/images/stop-censorship-small.png);
		background-position:center center;
		background-repeat:no-repeat;
		text-align: center;
		color: #fff;
		font-size: 14px;
		vertical-align: middle;
	}
	.censorship:hover {
		width:80%;
		height:auto;
		min-height:120px;
		top:200px;
		left:120px;
		background-color: rgb(169,3,41);
		background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1)));
		background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
		background: -o-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
		background: -ms-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
		background: linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
		box-shadow: 0px 0px 30px 30px rgba(0, 0, 0, 0.9);
		opacity: 0.9;
		-moz-border-radius: 1em;
	}
	.censorship span { display:none; padding: 1em 2em;}
	.censorship:hover span { display:block; text-decoration: none;}
	.censorship:hover div {background-image:none;}
	.stop { text-align:center; }
			