
.cssCode {
	background: linear-gradient(from bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(224,239,249,1) 100%);
	border: #DDD 1px solid;
	font-family: Courier New;
	font-size: small;
	margin: 1em 3em 1em 0em;
	padding: 0.7em;
	overflow-x: scroll;
	white-space: pre;
	-moz-border-radius: 2px;
}

ul.Tweaks > li:first-line {
	color: #504B67 !important;
	font-weight: bold;
	font-size: medium;
	text-decoration: underline;
	margin-bottom: 1.2em;
}
ul.Tweaks > li > a {
	color: #504B67 !important;
}

h2.newsflash {
	-moz-border-radius: 2px;
	background-color: #F00;
	border: 2px double #00F;
	color:#FFF !important;
	display: inline;
	margin: 6px 0px;
	padding: 8px;
}
h2.newsflash a {
	color:#FFF !important;
	cursor: pointer;
}

span.specialFolder { font-style: italic; color: #0F5BFF; }
