
td.navigation-list a[href$='menuOnTop.html'] {
	background-color: rgb(255,193,193); 
	background: -moz-linear-gradient(top, rgba(255,193,193,1) 0%, rgba(255,48,25,1) 28%, rgba(219,43,4,1) 75%, rgba(196,23,23,1) 100%);
	border-bottom-color:  #900000 !important;
	color: #FFF !important;
	height: 27px !important;
	font-weight: bold;
}

h3:before {
	content: url('/ico/mot-icon16.png') !important;
}
h2:before {
	content: url('/ico/mot-icon24.png') !important;
}
 h4:before {
	content: url('/ico/mot-icon16.png') !important;
	padding-right: 6px;
}
