
h3:before {
	content: url('/ico/mot-icon16.png') !important;
}
h2:before {
	content: url('/ico/mot-icon24.png') !important;
}
 h4:before {
	content: url('/ico/mot-icon16.png') !important;
	padding-right: 6px;
}
