

li > h4 {
	font-size: small;
	margin-left: 2em;
}

.optionlist > li {
	list-style-image: url('/images/checkbox.png') !important;
	list-style-position: outside;
	list-style-type: square;
	margin-bottom: 10px;
	margin-left: 30px;
}

.image-columns tr td {
	border: 0;
	padding: 2px 10px 2px 10px;
	margin: 0;
	vertical-align:top;
}

.image-columns tr td.first {
  border-left: 1px solid gray;
}


#main-content-no-nav ul,
#main-content ul {
  font-size: 9pt;
  list-style-type: square;
  list-style-image: url('/images/square-orange-small.png');
  list-style-position: inside;
  padding-left: 0;
  margin-left: 0;
}

.project-name {
	margin: 0 0 0.4em;
	padding: 0;
}

h1.project-name {
	font-size: 2.5em;
	padding: 0 0.3em;
	color: rgb(139, 69, 19);
  text-shadow: 1px 1px 0px #FFF, -1px -1px 0px #FFF, -1px 1px 0px #FFF, 1px -1px 0px #FFF, 0px 1px 0px #FFF, 0px -1px 0px #FFF, 1px 0px 0px #FFF, -1px 0px 0px #FFF, 
	             3px 3px 2px rgba(0,0,0,0.5);	
}



.h2container { margin-bottom: 10px; }

h2, h3, h4, h5, dt, dd, td *, body {
	font-family: Calibri,Arial,Sans-Serif;
	font-weight: normal;
}

dt {
	font-size: 1.1em;
}
p, td, th {
	font-size: 1em;
}


h2 {
 	background: rgb(234, 85, 7);
	background: linear-gradient(to bottom, rgb(254, 204, 177) 0%, rgb(241, 116, 50) 50%, rgb(234, 85, 7) 51%, rgb(251, 149, 94) 100%);
	border: 2px solid #eee !important;
	border-radius: 0.6em 0.6em 0.1em 0.1em;
	box-shadow: 3px 3px 4px -1px rgba(0,0,0,0.7);
	color: #fff;
	display: inline-block;
	font-weight: bold;
	font-size: 15pt;
	height: auto;
	padding:  0.5em 1em 0.3em 0.3em;
	text-shadow: 1px 1px 0px #8B4513, -1px -1px 0px #8B4513, -1px 1px 0px #8B4513, 1px -1px 0px #8B4513, 0px 1px 0px #8B4513, 0px -1px 0px #8B4513, 1px 0px 0px #8B4513, -1px 0px 0px #8B4513;
	vertical-align: middle;
	
	transition-property: border-radius, box-shadow, margin;
	transition-duration: 0.7s, 0.2s, 0.2s;
}

h2 a {
	font-size: 1.2em;
	color: #fff;
}

h2:before {
	content: url('/ico/QF16x16.png');
	margin: 0.2em 0.5em 0em 0.2em;
}

h2.page-header:before {
	content: url('/ico/quickfolders-Icon.png');
	margin: 0.2em 0.5em 0em 0.2em;
	vertical-align: top;
}


h2.page-header
{
	font-size: 18pt;
	margin: 1em 0em 0.3em 0;
}

h2:hover {
	border-radius: 0.1em 0.6em 0.1em 0.6em;
	box-shadow: 2px 2px 1px -1px rgba(0,0,0,0.9);
	margin: 1.3em 0em 0em 3px;
	background: linear-gradient(to bottom, rgba(243,197,189,1) 0%, rgba(232,108,87,1) 50%, rgba(234,40,3,1) 51%, rgba(255,102,0,1) 75%, rgba(199,34,0,1) 100%);
}

h2.newsflash {
	border-radius: 5px;
	box-shadow: 3px 3px 4px -1px rgba(0,0,0,0.9);
	background: rgb(203,96,179);
	background: linear-gradient(to bottom, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
	border: 2px solid #EEE;
	color:#FFF !important;
	display: inline;
	margin: 6px 0px;
	padding: 8px;
}

h2.newsflash a {
	color:#FFF !important;
	cursor: pointer;
}



h3:before {
	content: url('/ico/QF-Icon24.png');
	margin: 0.2em 0.5em 0em 0em;
	vertical-align: bottom;
}

h3 {
	background: rgb(242,246,248);
	background: linear-gradient(to bottom,  rgb(241, 231, 103) 0%, rgb(241, 231, 103) 37%, rgb(254, 182, 69) 100%);
	border: 1px transparent !important;
	display: inline-block;
	box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.7);
	border-radius: 0.5em;
	font-weight: 600;
	font-size: 1.2em;
	padding:  0.4em 1em 0.4em 0.8em;
/*	vertical-align: middle; */
	margin: 1em 1em 1em 0;
	transition-property: border-radius, box-shadow, margin;
	transition-duration: 0.7s, 0.2s, 0.2s;
}

h3:hover
{
	margin: 1.1em 0.9em 0.9em 3px;
	box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.9);
	border-radius: 1em 0.3em 1em 0.3em;
}



h4 {
	background: rgb(252,245,148);
	background:  linear-gradient(to bottom, rgba(253,251,227,1) 0%, rgba(252,247,182,1) 50%, rgba(252,245,148,1) 51%, rgba(252,249,210,1) 100%);
	display: inline-block;
	color: rgb(100, 50, 50);
	box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.7);
	border-radius: 0.75em;
	font-size: 1.5em;
	margin: 1em 1em 1em 0;
	padding: 0.35em 0.5em;
	transition-property: border-radius, background-image, box-shadow, margin;
	transition-duration: 0.2s, 0.5s, 0.2s, 0.2s;
}

h4:hover 
{
	background:  linear-gradient(to bottom, rgba(249,229,173,1) 0%, rgba(250,220,132,1) 50%, rgba(251,213,101,1) 51%, rgba(248,226,158,1) 100%);
	border: 1px solid #E9B41F !important;
	box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.9);
	border-radius: 1.2em;
}

h4 a {
  margin-top: 0.7em;
  font-size: 12pt;
}

h4:hover a { 
  rgb(55, 10,00) !important; 
  /* emboss: */
  text-shadow: 0pt 0pt 1px rgb(0, 0, 0), 0pt 0pt 2px rgb(187, 187, 187), 1px 1px 3px rgb(255, 255, 255);
}
/* h4 a:visited {color: rgb(245, 245, 245) !important; } */

img.screenshot,
img.gallery {
	box-shadow: 5px 5px 6px -1px rgba(0,0,0,0.7);
}

img.screenshot {
	background-color: #ffffff;
	border-radius: 6px;
  margin: 0.7em 2em 0.7em 0;
	max-width: 100%;
}

img.gallery {
	border-radius: 10px;
	margin-top: 1em;
	max-width: 95%;
}


.mail_link a:before {
	content: url('/images/mail-open-document.png');
	margin: 0.2em 0.3em 0em 0.1em;
	vertical-align: top;
}

p.mail_link a {
	background: rgb(252,234,187);
	background: linear-gradient(to bottom,rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
	cursor: pointer;
	box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.7);
	border-radius: 4px;
	border: solid 1px #EEE;
	margin: 0 0 0 0;
	padding: 4px 6px;
	width:auto;
	transition-property: background-image, box-shadow, margin;
	transition-duration: 1s, 0.2s, 0.2s;
}
p.mail_link a:hover,
p.mail_link:hover a {
	box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.7);
	background: linear-gradient(to bottom, rgba(254,204,177,1) 0%, rgba(241,116,50,1) 50%, rgba(234,85,7,1) 51%, rgba(251,149,94,1) 100%);
	margin: 2px 0 0 2px;
	color: #fff;
}

ul li {
  padding-top: 1.5em;
}

ul li a {
	padding-bottom: 1em;
}

ul li ul li {
  padding: 0 0;
  list-style-type: square;
  list-style-image: none;
  background: none no-repeat 0 50%;
  max-width: 70em;
}

#main-content-no-nav a[href] {
	padding: 0.3em;
	color: rgb(102, 0, 22);
	transition-property: background-color, border-color;
	transition-duration: 0.5s, 0.8s;
}

#main-content-no-nav a[href]:visited {
	color: rgb(125, 53, 25);
}

#main-content-no-nav a[href]:hover {
	color: #FFB2A2; 
	background-color: rgba(102, 0, 22, 0.8);
	border-color: rgba(255, 178, 162, 0.8);
	border-style: dotted;
	border-radius: 0.5em;
	border-top-width: 2px;
	border-right-width: 2px;
	border-left-width: 2px;
}

#main-content-no-nav a[href]:hover:not(.project-navigation) {
	margin-right: -0.15em;
	margin-left: -0.15em;
}

#main-content-no-nav a[href]:active {
	color: #FFFFFF;  
	background-color: #C9083D;
	border-radius: 0.5em;
	border-color: #FFFFFF;
	border-style: solid;
	font-weight: normal;
}

#mozdev-date {
	background: rgb(254,204,177);
	background: linear-gradient(to bottom, rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%);
}

#main-content {
	font-size: 12pt;
}

#TJK_ToggleON,#TJK_ToggleOFF {
	display:none;
	border: 1px dotted #aaa;
	border-radius: 0.4em;
	background: rgb(242,246,248);
	background: linear-gradient(to bottom, rgba(242,246,248,1) 0%,rgba(216,225,231,1) 41%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%);
	color: #000;
}
#TJK_ToggleON:hover,#TJK_ToggleOFF:hover {
	background: rgb(240,183,161);
	background: linear-gradient(to bottom, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 45%,rgba(117,34,1,1) 60%,rgba(191,110,78,1) 100%);
	color: #fff;
}

.attribution { border: dotted #bbb 1px; font-size:small; font-color: #666; border-radius: 1em; padding: 1em; margin-top: 2em; }


code {
	background: linear-gradient(to bottom,  rgba(246,248,249,0.65) 0%,rgba(155,160,160,0.67) 31%,rgba(174,179,183,0.69) 69%,rgba(245,247,249,0.7) 100%);
  border-radius: 0.3em; 
  border: 1px solid #bbb;
  display: inline; 
  font-family: Consolas, 'Courier New', Geneva, sans-serif;
	font-size: 0.8em;
	text-align: left;
  margin: 2px 4px;  
  padding: 2px 4px;
	overflow: auto;
}

#header {
	background-color: rgb(219, 181, 155);
	/* make sure background expands to edge of main-content-no-nav wrapper! */
	margin: -35px -20px;
  padding: 35px 20px;
/*	position: fixed;
	z-index:1000; */
}

#content {
	/* margin-top:50px; */
}

#main-content-no-nav {
	background: rgb(254, 254, 254);
	border-left: #ccc 1px;
	border-right: #ccc 1px;
	box-shadow: 12px 12px 10px 2px rgba(0, 0, 0, 0.5); /* Firefox 1-4 */
	margin: 0 auto !important;
	max-width: 1200px;
	padding: 1em 20px;
	transition-property: margin;
	transition-duration: 0.5s;
}
/* more rules in media.css */



body {
	background: rgb(69,72,77);
	background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 50%,rgba(69,72,77,1) 100%);
	font-size: 11pt;
	min-height: 850px;
	margin: 0;
}

#community-links {
	font-size: 10pt;
}

/* bubble used to display code */
.code_block {
  background-color: white;
  border-style: solid;
  border-color: black;
  border-radius: 10px; 
  border-width: 1px;
  color:black;
  display:block;
  font-family: Consolas, 'Courier New', Geneva, sans-serif;
  font-size:10pt;
  margin-left: 30px;
  max-height: 220px;
  overflow: auto; 
  padding: 10px;
  width: 75%;
}

p.QuickFoldersFreeUser,
p.QuickFoldersProUser,
table.QuickFoldersFreeUser,
table.QuickFoldersProRenew,
.flashBox  {
	background: rgba(250,250,250,0.6);
  border: 2px solid rgba(60,60,60,0.5);
	border-radius: 10px;
	box-shadow: 4px 4px 3px rgba(20,20,20,0.3);
	margin-left: 30px;
	margin-bottom: 1.3em;
	max-width: 800px;
	padding: 0.5em 0.8em;
}

.QuickFoldersProRenew,
.QuickFoldersFreeUser {
  font-size: 1.3em !important;
}
.QuickFoldersProRenew em,
.QuickFoldersFreeUser em {
  font-weight: bold;
}

.bargain,
.psa {
	background: rgba(0,0,0,0.9) !important;
	color: white !important;
}

.bargain a[href], 
.psa a[href], 
.bargain a[href]:visited, 
.psa a[href]:visited, 
.bargain a[href] {
	color: rgb(249, 113, 39) !important;
	white-space: nowrap; 
}

@keyframes quickfoldersPulse {
    0% { transform: scale(1.25); opacity: 0.6; }
    50% { transform: scale(1); opacity: 1; }
    100% { transform: scale(1.25); opacity: 0.6; }
}


#bargainStar {
  animation: quickfoldersPulse 2.5s 1s ease-in-out infinite;
	position: relative;
	left: -100px;
	top: -100px;
	width: 180px;
	z-index:1000;
}

#bargainStar:hover {
	animation-play-state: paused;
	opacity: 1 !important;
}

a[href].nohover {
	padding: 0 !important;
}

a[href].nohover:hover {
	background-color: transparent !important;
	background-image: none !important;
	border-color: transparent !important;
	border-radius: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
} 

h3.shillBox {
	background-image: linear-gradient(to bottom, #ee0a11 0%,#b70306 37%,#8c0002 55%,#d9070b 100%) !important;
	font-size: 1.1em;
	border-radius: 0.2em !important;
	margin: 4px 0 !important;
}