/*@import url("http://www.mozdev.org/project.css");*/

li > h4 {
	font-size: small;
	margin-left: 2em;
}

.optionlist > li {
	list-style-image: url('/images/checkbox.png') !important;
	list-style-position: outside;
	list-style-type: square;
	margin-bottom: 10px;
	margin-left: 30px;
}

.image-columns tr td {
	border: 0;
	padding: 2px 10px 2px 10px;
	margin: 0;
	vertical-align:top;
}

.image-columns tr td.first {
  border-left: 1px solid gray;
}


#main-content-no-nav ul,
#main-content ul {
  font-size: 9pt;
  list-style-type: square;
  list-style-image: url('/images/square-orange-small.png');
  list-style-position: inside;
  padding-left: 0;
  margin-left: 0;
}


.h2container { margin-bottom: 10px; }

h2, h3, h4, h5, dt, dd, td *, body {
	font-family: Calibri,Arial,Sans-Serif;
	font-weight: normal;
}

dt {
	font-size: 1.1em;
}
p, td, th {
	font-size: 1em;
}


h2 {
	font-weight: bold;
	font-size: 15pt;
	color: #fff;
 	background: rgb(234, 85, 7);
	background:    linear-gradient(to bottom, rgb(254, 204, 177) 0%, rgb(241, 116, 50) 50%, rgb(234, 85, 7) 51%, rgb(251, 149, 94) 100%);
	background: -webkit-linear-gradient(center top , rgb(254, 204, 177) 0%, rgb(241, 116, 50) 50%, rgb(234, 85, 7) 51%, rgb(251, 149, 94) 100%);
	background: -o-linear-gradient(top, rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%);
	background: -ms-linear-gradient(top, rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#ea5507',GradientType=0 );
	border: 2px solid #eee !important;
	display: inline-block;
	height: auto;
	padding:  0.5em 1em 0.3em 0.3em;
	vertical-align: middle;
	border-radius: 0.6em 0.6em 0.1em 0.1em;
	box-shadow: 3px 3px 4px -1px rgba(0,0,0,0.7);
	transition-property: border-radius, box-shadow, margin;
	transition-duration: 0.7s, 0.2s, 0.2s;
}

h2 a {
	font-size: 1.2em;
	color: #fff;
}

h2:before {
	content: url('/ico/QF16x16.png');
	margin: 0.2em 0.5em 0em 0.2em;
}

h2.page-header:before {
	content: url('/ico/quickfolders-Icon.png');
	margin: 0.2em 0.5em 0em 0.2em;
	vertical-align: top;
}


h2.page-header
{
	font-size: 18pt;
	margin: 1em 0em 0.3em 0;
}

h2:hover {
	border-radius: 0.1em 0.6em 0.1em 0.6em;
	box-shadow: 2px 2px 1px -1px rgba(0,0,0,0.9);
	margin: 1.3em 0em 0em 3px;
	background: linear-gradient(to bottom, rgba(243,197,189,1) 0%, rgba(232,108,87,1) 50%, rgba(234,40,3,1) 51%, rgba(255,102,0,1) 75%, rgba(199,34,0,1) 100%);
	background: -webkit-linear-gradient(top, rgba(243,197,189,1) 0%, rgba(232,108,87,1) 50%, rgba(234,40,3,1) 51%, rgba(255,102,0,1) 75%, rgba(199,34,0,1) 100%);
	background: -webkit-linear-gradient(top, rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%);
	background: -o-linear-gradient(top, rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 );
}

h2.newsflash {
	border-radius: 5px;
	box-shadow: 3px 3px 4px -1px rgba(0,0,0,0.9);
	background: rgb(203,96,179);
	background: linear-gradient(to bottom, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
	background: -webkit-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
	background: -webkit-linear-gradient(top, rgba(203,96,179,1) 0%,rgba(193,70,161,1) 50%,rgba(168,0,119,1) 51%,rgba(219,54,164,1) 100%);
	background:      -o-linear-gradient(top, rgba(203,96,179,1) 0%,rgba(193,70,161,1) 50%,rgba(168,0,119,1) 51%,rgba(219,54,164,1) 100%);
	background:     -ms-linear-gradient(top, rgba(203,96,179,1) 0%,rgba(193,70,161,1) 50%,rgba(168,0,119,1) 51%,rgba(219,54,164,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#a80077',GradientType=0 );
	border: 2px solid #EEE;
	color:#FFF !important;
	display: inline;
	margin: 6px 0px;
	padding: 8px;
}

h2.newsflash a {
	color:#FFF !important;
	cursor: pointer;
}



h3:before {
	content: url('/ico/QF-Icon24.png');
	margin: 0.2em 0.5em 0em 0em;
	vertical-align: bottom;
}

h3 {
	background: rgb(242,246,248);
	background: linear-gradient(to bottom,  rgb(241, 231, 103) 0%, rgb(241, 231, 103) 37%, rgb(254, 182, 69) 100%);
	background: -webkit-linear-gradient(top , rgb(241, 231, 103) 0%, rgb(241, 231, 103) 37%, rgb(254, 182, 69) 100%);
	background: -o-linear-gradient(top, rgba(241,231,103,1) 0%,rgba(241,231,103,1) 37%,rgba(254,182,69,1) 100%);
	background: -ms-linear-gradient(top, rgba(241,231,103,1) 0%,rgba(241,231,103,1) 37%,rgba(254,182,69,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 );
	border: 1px transparent !important;
	display: inline-block;
	box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.7);
	border-radius: 0.5em;
	font-weight: 600;
	font-size: 1.2em;
	padding:  0.4em 1em 0.4em 0.8em;
	height: 1.4em;
	vertical-align: middle;
	margin: 1em 1em 1em 0;
	transition-property: border-radius, box-shadow, margin;
	transition-duration: 0.7s, 0.2s, 0.2s;
}

h3:hover
{
	margin: 1.1em 0.9em 0.9em 3px;
	box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.9);
	border-radius: 1em 0.3em 1em 0.3em;
}



h4 {
	background: rgb(252,245,148);
	background:  linear-gradient(to bottom, rgba(253,251,227,1) 0%, rgba(252,247,182,1) 50%, rgba(252,245,148,1) 51%, rgba(252,249,210,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,251,227,1)), color-stop(50%,rgba(252,247,182,1)), color-stop(51%,rgba(252,245,148,1)), color-stop(100%,rgba(252,249,210,1)));
	background: -webkit-linear-gradient(top, rgba(253,251,227,1) 0%,rgba(252,247,182,1) 50%,rgba(252,245,148,1) 51%,rgba(252,249,210,1) 100%);
	background: -o-linear-gradient(top, rgba(253,251,227,1) 0%,rgba(252,247,182,1) 50%,rgba(252,245,148,1) 51%,rgba(252,249,210,1) 100%);
	background: -ms-linear-gradient(top, rgba(253,251,227,1) 0%,rgba(252,247,182,1) 50%,rgba(252,245,148,1) 51%,rgba(252,249,210,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfbe3', endColorstr='#fcf594',GradientType=0 );	border: 1px solid #EAD393 !important;
	display: inline-block;
	color: rgb(100, 50, 50);
	box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.7);
	border-radius: 0.75em;
	font-size: 1.5em;
	margin: 1em 1em 1em 0;
	padding: 0.35em 0.5em;
	transition-property: border-radius, background-image, box-shadow, margin;
	transition-duration: 0.2s, 0.5s, 0.2s, 0.2s;
}

h4:hover 
{
	background:  linear-gradient(to bottom, rgba(249,229,173,1) 0%, rgba(250,220,132,1) 50%, rgba(251,213,101,1) 51%, rgba(248,226,158,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,229,173,1)), color-stop(50%,rgba(250,220,132,1)), color-stop(51%,rgba(251,213,101,1)), color-stop(100%,rgba(248,226,158,1)));
	background: -webkit-linear-gradient(top, rgba(249,229,173,1) 0%,rgba(250,220,132,1) 50%,rgba(251,213,101,1) 51%,rgba(248,226,158,1) 100%);
	background: -o-linear-gradient(top, rgba(249,229,173,1) 0%,rgba(250,220,132,1) 50%,rgba(251,213,101,1) 51%,rgba(248,226,158,1) 100%);
	background: -ms-linear-gradient(top, rgba(249,229,173,1) 0%,rgba(250,220,132,1) 50%,rgba(251,213,101,1) 51%,rgba(248,226,158,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9e5ad', endColorstr='#fbd565',GradientType=0 );
	border: 1px solid #E9B41F !important;
	box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.9);
	border-radius: 1.2em;
}

h4 a {
  margin-top: 0.7em;
  font-size: 12pt;
}

h4:hover a { 
  rgb(55, 10,00) !important; 
  /* emboss: */
  text-shadow: 0pt 0pt 1px rgb(0, 0, 0), 0pt 0pt 2px rgb(187, 187, 187), 1px 1px 3px rgb(255, 255, 255);
}
/* h4 a:visited {color: rgb(245, 245, 245) !important; } */

img.screenshot,
img.gallery {
	box-shadow: 5px 5px 6px -1px rgba(0,0,0,0.7);
}

img.screenshot {
	background-color: #ffffff;
	border-radius: 6px;
  margin: 0.7em 2em 0.7em 0;
	max-width: 100%;
}

img.gallery {
	border-radius: 10px;
	margin-top: 1em;
	max-width: 95%;
}


.mail_link a:before {
	content: url('/images/mail-open-document.png');
	margin: 0.2em 0.3em 0em 0.1em;
	vertical-align: top;
}

p.mail_link a {
	background: rgb(252,234,187);
	background: linear-gradient(to bottom,rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,234,187,1)), color-stop(50%,rgba(252,205,77,1)), color-stop(51%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1)));
	background: -webkit-linear-gradient(top, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
	background: -o-linear-gradient(top, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
	background: -ms-linear-gradient(top, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#f8b500',GradientType=0 );
	cursor: pointer;
	box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.7);
	border-radius: 4px;
	border: solid 1px #EEE;
	margin: 0 0 0 0;
	padding: 4px 6px;
	width:auto;
	transition-property: background-image, box-shadow, margin;
	transition-duration: 1s, 0.2s, 0.2s;
}
p.mail_link a:hover,
p.mail_link:hover a {
	box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.7);
	background: linear-gradient(to bottom, rgba(254,204,177,1) 0%, rgba(241,116,50,1) 50%, rgba(234,85,7,1) 51%, rgba(251,149,94,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,204,177,1)), color-stop(50%,rgba(241,116,50,1)), color-stop(51%,rgba(234,85,7,1)), color-stop(100%,rgba(251,149,94,1)));
	background: -webkit-linear-gradient(top, rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%);
	background: -o-linear-gradient(top, rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%);
	background: -ms-linear-gradient(top, rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#ea5507',GradientType=0 );
	margin: 2px 0 0 2px;
	color: #fff;
}

ul li {
  padding-top: 1.5em;
}

ul li a {
	padding-bottom: 1em;
}

ul li ul li {
  padding: 0 0;
  list-style-type: square;
  list-style-image: none;
  background: none no-repeat 0 50%;
  max-width: 70em;
}


#main-content-no-nav a[href] {
	padding: 0.3em;
	color: rgb(102, 0, 22);
	transition-property: background-color, border-color;
	transition-duration: 0.5s, 0.8s;
}

#main-content-no-nav a[href]:visited {
	color: rgb(125, 53, 25);
}

#main-content-no-nav a[href]:hover {
	color: #FFB2A2; 
	background-color: rgba(102, 0, 22, 0.8);
	border-color: rgba(255, 178, 162, 0.8);
	border-style: dotted;
	border-top-width: 2px;
	border-right-width: 2px;
	border-left-width: 2px;
	margin-right: -1px;
	margin-left: 1px;
}

#main-content-no-nav a[href]:active {
	color: #FFFFFF;  
	background-color: #C9083D;
	border-radius: 0.5em;
	border-color: #FFFFFF;
	border-width: 1px;
	border-style: solid;
	font-weight: normal;
}



#mozdev-date {
	background: rgb(254,204,177);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,204,177,1)), color-stop(50%,rgba(241,116,50,1)), color-stop(51%,rgba(234,85,7,1)), color-stop(100%,rgba(251,149,94,1)));
	background: -webkit-linear-gradient(top, rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%);
	background: -o-linear-gradient(top, rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%);
	background: -ms-linear-gradient(top, rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%);
	background: linear-gradient(to bottom, rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#ea5507',GradientType=0 );
}

#main-content {
	font-size: 12pt;
}

#TJK_ToggleON,#TJK_ToggleOFF {
	display:none;
	border: 1px dotted #aaa;
	border-radius: 0.4em;
	background: rgb(242,246,248);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,246,248,1)), color-stop(41%,rgba(216,225,231,1)), color-stop(51%,rgba(181,198,208,1)), color-stop(100%,rgba(224,239,249,1)));
	background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%,rgba(216,225,231,1) 41%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%);
	background: -o-linear-gradient(top, rgba(242,246,248,1) 0%,rgba(216,225,231,1) 41%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%);
	background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%,rgba(216,225,231,1) 41%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%);
	background: linear-gradient(to bottom, rgba(242,246,248,1) 0%,rgba(216,225,231,1) 41%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#b5c6d0',GradientType=0 );
	color: #000;
}
#TJK_ToggleON:hover,#TJK_ToggleOFF:hover {
	background: rgb(240,183,161);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,183,161,1)), color-stop(45%,rgba(140,51,16,1)), color-stop(60%,rgba(117,34,1,1)), color-stop(100%,rgba(191,110,78,1)));
	background: -webkit-linear-gradient(top, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 45%,rgba(117,34,1,1) 60%,rgba(191,110,78,1) 100%);
	background: -o-linear-gradient(top, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 45%,rgba(117,34,1,1) 60%,rgba(191,110,78,1) 100%);
	background: -ms-linear-gradient(top, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 45%,rgba(117,34,1,1) 60%,rgba(191,110,78,1) 100%);
	background: linear-gradient(to bottom, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 45%,rgba(117,34,1,1) 60%,rgba(191,110,78,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#752201',GradientType=0 );
	color: #fff;
}

.attribution { border: dotted #bbb 1px; font-size:small; font-color: #666; border-radius: 1em; padding: 1em; margin-top: 2em; }


code {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,0.65)), color-stop(31%,rgba(155,160,160,0.67)), color-stop(69%,rgba(174,179,183,0.69)), color-stop(100%,rgba(245,247,249,0.7)));
	background: -webkit-linear-gradient(top,  rgba(246,248,249,0.65) 0%,rgba(155,160,160,0.67) 31%,rgba(174,179,183,0.69) 69%,rgba(245,247,249,0.7) 100%);
	background: -o-linear-gradient(top,  rgba(246,248,249,0.65) 0%,rgba(155,160,160,0.67) 31%,rgba(174,179,183,0.69) 69%,rgba(245,247,249,0.7) 100%);
	background: -ms-linear-gradient(top,  rgba(246,248,249,0.65) 0%,rgba(155,160,160,0.67) 31%,rgba(174,179,183,0.69) 69%,rgba(245,247,249,0.7) 100%);
	background: linear-gradient(to bottom,  rgba(246,248,249,0.65) 0%,rgba(155,160,160,0.67) 31%,rgba(174,179,183,0.69) 69%,rgba(245,247,249,0.7) 100%);
  border-radius: 0.3em; /* CSS3 = IE9 / Firefox 4+ */
  border: 1px solid #bbb;
  -webkit-border-radius: 0.3em; /* Safari / Chrome (Webkit) */
  -khtml-border-radius: 0.3em; /* KHTML */
  display: inline; 
  font-family: Consolas, 'Courier New', Geneva, sans-serif;
	font-size: 0.8em;
	text-align: left;
  margin: 2px 4px;  
  padding: 2px 4px;
	overflow: auto;
}

#main-content-no-nav {
	border-radius: 10px;
	background: rgb(226, 226, 226);
	background: linear-gradient(to bottom, rgba(226,226,226,1.0) 0%,rgba(219,219,219,0.9) 50%,rgba(209,209,209,0.9) 51%,rgba(254,254,254,1) 100%);  
	border-left: #ccc 1px;
	border-right: #ccc 1px;
	box-shadow: 12px 12px 10px 2px rgba(0,0,0,0.5); /* Firefox 1-4 */
	-webkit-box-shadow: 12px 12px 10px 2px rgba(0,0,0,0.5); /* Safari / Chrome (Webkit) */
	box-shadow: 12px 12px 10px 2px rgba(0,0,0,0.5); /* CSS3 = IE9 / Firefox 4+ */ 
	-khtml-box-shadow: 12px 12px 10px 2px rgba(0,0,0,0.5); /* KHTML */
	margin: 25px 120px 25px 120px !important;
	padding: 12px;
	transition-property: margin;
	transition-duration: 0.5s;
}


/* max width of 1000px */
@media only screen and (max-width: 1000px) {
  #main-content-no-nav {
    margin-left: 9%  !important;
    margin-right: 9% !important;
  }
}

/* max width of 850px */
@media only screen and (max-width: 850px) {
  #infoTabs {
    margin-right: -8% !important;
  }
  #main-content-no-nav {
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  .infoTab {
    margin-left: 10px;
  }
}


/* max width of 700px */
@media only screen and (max-width: 700px) {
  iframe.video,
  #infoTabs {
    display: none;
  }
  .copyright {
    text-align: left !important; /* we have center as default but this looks horrible on mobile devices */
  }
  h3 {
    font-size: 1.2em;
  }
  h2.page-header {
    font-size: 1.5em;
  }
}

/* max width of 360px (e.g. portrait mode s3) */
@media only screen and (max-width: 360px) {
  #project-navigation a.version,
  #project-navigation a.templates,
  .tip.query  {
    display: none;
  }
  .templateBlock {
    margin-left: 10px;
  }
  h5.templateBlock {
    margin-left: 10px !important;
    margin-top: 0;
    max-width: 10em;
    text-align: center;
    font-size: 10pt;
    padding: 0;
  }
  blockquote.code_block,
  pre.code_block,
  pre.code_block.bad_example {
    margin-left: 10px !important;
    margin-right: 10px !important;
    width: auto;
    min-width: 290px !important; /* here we need the important to overwrite the size for examples tab */
  }
  ul > li {
    margin-left: 15px;
  }
  .collapsible li {
    margin-bottom: 0;
    padding-bottom: 0.5em;
  }
}

body {
	background: rgb(69,72,77);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NTQ4NGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(50%,rgba(0,0,0,1)), color-stop(100%,rgba(69,72,77,1)));
	background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 50%,rgba(69,72,77,1) 100%);
	background: -o-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 50%,rgba(69,72,77,1) 100%);
	background: -ms-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 50%,rgba(69,72,77,1) 100%);
	background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 50%,rgba(69,72,77,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#45484d',GradientType=0 );
	font-size: 11pt;
	min-height: 850px;
}

#community-links {
	font-size: 10pt;
}