/* project_nav */


#project-navigation a {
	padding: 4px 6px;
}

#project-navigation a.first-item {
}

#project-navigation th {
	margin-right: 3px;
}


.project-navigations th {
	color: #C51816 !important;
	font-weight: normal;
}


.project-navigations {
	border: none; /* work around weird ns4 bug */
	margin-bottom: 2em;
}


#project-navigation th {
	background-color: inherit;
	/* background-image: url(http://www.mozdev.org/sharedimages/nav-icon.png); */
	background-repeat: no-repeat;
	color: #900;
	/* padding-left: 18px;
	padding-top: 0; */
	margin-bottom: 0;
	margin-top: 0;
	vertical-align: middle;
}

td.navigation-list {
	margin: 0;
	padding: 0 0 0px 0;
	height: 25px;
	border-bottom: 3px solid #900000;
}

td.navigation-list a {
	background-image: linear-gradient(to bottom, #FFF 7%, rgb(189,185,189) 88%, #EEE 100%);
	background-color: ButtonFace;
	border: 1px solid #AAA;
	border-radius: 4px 4px 0 0;
	color: #111;
	display: inline-block;
	font-family: verdana,arial,sans-serif;
	font-size: 11px;
	font-weight: normal;
	height: 20px;
	line-height: 20px;
	margin: 3px 0px 0px 2px;
	padding: 1px 5px 0px 2px;
	white-space: no-wrap !important;
}

td.navigation-list a * {
	white-space: no-wrap !important;
}

td.navigation-list a[href$='donate.html'], 
td.navigation-list a[href$='donate.html']:visited,
td.navigation-list a[href$='menuOnTopDonate']
{
	background: rgb(175, 240, 102);
	background: linear-gradient(to bottom, rgb(252, 234, 187) 0%, rgb(252, 205, 77) 50%, rgb(248, 181, 0) 51%, rgb(251, 223, 147) 100%);
  background-repeat: repeat-x;
	color: white;
}
#project-navigation td.navigation-list a[href] {
  padding: 4px 6px;
}
#project-navigation td.navigation-list a[href]:hover {
	background: rgb(254,204,177);
	background: linear-gradient(to bottom, rgba(254,204,177,1) 0%, rgba(241,116,50,1) 50%, rgba(234,85,7,1) 51%, rgba(251,149,94,1) 100%);
	color: white !important;
	margin: 2px 3px 0px 2px !important;
  padding: 4px 3px 4px 4px;
	text-decoration: none;
}

td.navigation-list a.active {
	background-color: rgb(255,193,193); 
	background: linear-gradient(to bottom, rgba(255,193,193,1) 0%, rgba(255,48,25,1) 28%, rgba(219,43,4,1) 75%, rgba(196,23,23,1) 100%);
	border-bottom-color:  #900000 !important;
	color: #FFF !important;
	font-weight: bold;
}

