
a.tooltip strong { 
	line-height:30px;
}
a.tooltip:hover {
	text-decoration:none;
}
a.tooltip span { 
	display:none; 
	line-height:16px; 
	margin-top:50px; 
	margin-left:-160px; 
	padding:14px 20px; 
	border:0;
  z-index:1010;
}
a.tooltip:hover span { 
	border:2px solid #FFF; 
	color:#EEE; 
  display:inline; 
	position:absolute; 
	background:#000 url(src/css-tooltip-gradient-bg.png) repeat-x 0 0; 
} 
.callout {
	border:0;
	position:absolute;
	left:120px;
	top:-14px;
	z-index: 1020;
} 
 /*CSS3 extras*/ 
a.tooltip span { 
	border-radius:2px; 
	box-shadow: 0px 0px 8px 4px #666; 
	opacity: 0.8; 
}
 
.bargain .tooltip span {
	margin-left: -315px !important; 
	margin-top:-10px !important; 
	white-space: normal;
	width: 430px; 
}
 
.bargain .tooltip span .callout {
	left: 215px !important;
}
 