@import url("/css/myProjects.css") screen;

.inline-donate {
	display: inline-block;
	vertical-align: middle;
	margin-left: 2em;
}

/* inline checkbox */
.cb {
	margin-right: 5px;
	margin-left: 6px;
}


ol {
	list-style-type: decimal !important;
}

ol > li {
	display: list-item;
	list-style-image: none !important;
	list-style-type: decimal !important;
}

ul.sublist {
	margin-left: 5em;
}
ul.sublist li {
	margin-left: 4em;
	list-style: outside url("/images/triangle.png") square;
}

ul#version-history {
  margin-left: 2em;
}
/* version history headings */
ul#version-history > li {
  list-style: none;
}
ul#version-history > li ul {
   margin-left: 2em;
}

ul#version-history > li ul li {
  list-style: square outside url('/images/square-orange-small.png');
  font-size: 11pt;
  padding-bottom: 0.4em;
  padding-top: 0.4em;
	margin-left: 1em;
} 


#version-history li > h4 {
/*	border-radius: 0.75em; */
	color: #ffffff;
	cursor: default;
	font-weight: normal;
	font-size: 10pt;
	margin-right: auto !important;
	padding-bottom: 0.3em;
	background: rgb(246,67,32);
	background: -moz-linear-gradient(top,  rgba(246,67,32,1) 0%, rgba(214,39,8,1) 15%, rgba(126,27,2,1) 50%, rgba(194,36,8,1) 83%, rgba(225,41,9,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,67,32,1)), color-stop(15%,rgba(214,39,8,1)), color-stop(50%,rgba(126,27,2,1)), color-stop(83%,rgba(194,36,8,1)), color-stop(100%,rgba(225,41,9,1)));
	background: -webkit-linear-gradient(top,  rgba(246,67,32,1) 0%,rgba(214,39,8,1) 15%,rgba(126,27,2,1) 50%,rgba(194,36,8,1) 83%,rgba(225,41,9,1) 100%);
	background: -o-linear-gradient(top,  rgba(246,67,32,1) 0%,rgba(214,39,8,1) 15%,rgba(126,27,2,1) 50%,rgba(194,36,8,1) 83%,rgba(225,41,9,1) 100%);
	background: -ms-linear-gradient(top,  rgba(246,67,32,1) 0%,rgba(214,39,8,1) 15%,rgba(126,27,2,1) 50%,rgba(194,36,8,1) 83%,rgba(225,41,9,1) 100%);
	background: linear-gradient(to bottom,  rgba(246,67,32,1) 0%,rgba(214,39,8,1) 15%,rgba(126,27,2,1) 50%,rgba(194,36,8,1) 83%,rgba(225,41,9,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f64320', endColorstr='#e12909',GradientType=0 );
}
#version-history li > h4:hover {
	border-radius: 0.3em;
	border-width: 2px;
	background: rgb(214,43,8);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q2MmIwOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE1JSIgc3RvcC1jb2xvcj0iI2E0MWUwNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzRmMTEwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgzJSIgc3RvcC1jb2xvcj0iIzkyMWIwNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjU0NTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(214,43,8,1) 0%, rgba(164,30,6,1) 15%, rgba(79,17,1,1) 50%, rgba(146,27,6,1) 83%, rgba(255,84,84,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,43,8,1)), color-stop(15%,rgba(164,30,6,1)), color-stop(50%,rgba(79,17,1,1)), color-stop(83%,rgba(146,27,6,1)), color-stop(100%,rgba(255,84,84,1)));
	background: -webkit-linear-gradient(top,  rgba(214,43,8,1) 0%,rgba(164,30,6,1) 15%,rgba(79,17,1,1) 50%,rgba(146,27,6,1) 83%,rgba(255,84,84,1) 100%);
	background: -o-linear-gradient(top,  rgba(214,43,8,1) 0%,rgba(164,30,6,1) 15%,rgba(79,17,1,1) 50%,rgba(146,27,6,1) 83%,rgba(255,84,84,1) 100%);
	background: -ms-linear-gradient(top,  rgba(214,43,8,1) 0%,rgba(164,30,6,1) 15%,rgba(79,17,1,1) 50%,rgba(146,27,6,1) 83%,rgba(255,84,84,1) 100%);
	background: linear-gradient(to bottom,  rgba(214,43,8,1) 0%,rgba(164,30,6,1) 15%,rgba(79,17,1,1) 50%,rgba(146,27,6,1) 83%,rgba(255,84,84,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d62b08', endColorstr='#ff5454',GradientType=0 );
}

#version-history ul h4.inList {
  color: rgb (0,0,0);
	font-weight: bold;
	font-size: 12pt;
	background: rgb(242,246,248);
	background: linear-gradient(to bottom,  rgb(241, 231, 103) 0%, rgb(241, 231, 103) 37%, rgb(254, 182, 69) 100%);
	background: -webkit-linear-gradient(top , rgb(241, 231, 103) 0%, rgb(241, 231, 103) 37%, rgb(254, 182, 69) 100%);
	background: -o-linear-gradient(top, rgba(241,231,103,1) 0%,rgba(241,231,103,1) 37%,rgba(254,182,69,1) 100%);
	background: -ms-linear-gradient(top, rgba(241,231,103,1) 0%,rgba(241,231,103,1) 37%,rgba(254,182,69,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 );	
	border: 1px transparent !important;
}


#version-history li > h5 {
	border-radius: 0.5em;
	color: #ffffff;
	display: inline-block;
	font-weight: bold;
	font-size: 9pt;
	background: rgb(209,33,10);
	background: -moz-linear-gradient(top,  rgba(209,33,10,1) 0%, rgba(98,18,4,1) 30%, rgba(57,12,1,1) 50%, rgba(88,16,4,1) 75%, rgba(183,7,7,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(209,33,10,1)), color-stop(30%,rgba(98,18,4,1)), color-stop(50%,rgba(57,12,1,1)), color-stop(75%,rgba(88,16,4,1)), color-stop(100%,rgba(183,7,7,1)));
	background: -webkit-linear-gradient(top,  rgba(209,33,10,1) 0%,rgba(98,18,4,1) 30%,rgba(57,12,1,1) 50%,rgba(88,16,4,1) 75%,rgba(183,7,7,1) 100%);
	background: -o-linear-gradient(top,  rgba(209,33,10,1) 0%,rgba(98,18,4,1) 30%,rgba(57,12,1,1) 50%,rgba(88,16,4,1) 75%,rgba(183,7,7,1) 100%);
	background: -ms-linear-gradient(top,  rgba(209,33,10,1) 0%,rgba(98,18,4,1) 30%,rgba(57,12,1,1) 50%,rgba(88,16,4,1) 75%,rgba(183,7,7,1) 100%);
	background: linear-gradient(to bottom,  rgba(209,33,10,1) 0%,rgba(98,18,4,1) 30%,rgba(57,12,1,1) 50%,rgba(88,16,4,1) 75%,rgba(183,7,7,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1210a', endColorstr='#b70707',GradientType=0 );
}

#version-history li > h4.inList, h4.inList, h5.inList  {
	padding-right: 1em;
	padding-left: 1em;
}

/* inject the product name because we most likely do in-page links */
#version-history li > h4 > a:not([href="donate.html"]):before {
	content: "QuickFolders ";
}

#version-history li > h4 > a,
#version-history li > h4 > a[href],
#version-history li > h4 > a[href]:visited {
  cursor: pointer;
  display: inline-block;
  font-size: 12pt;
  color: #ffffff;
  margin-right: 0.5em;
  margin-top: 0.3em;
  font-weight:450;
  text-decoration: none;
}
#version-history li > h4 > a[href]:hover {
  background-color: rgba(50,20,20,0.5);
  text-decoration: underline;
}

/*
#main-content-no-nav > h4 a {
  margin: 0.5em 1em;
}
*/

#version-history li > h4:before {
  content: url("/ico/QF-Icon24.png");
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.5em;
}

#version-history li > h4,.versionLink {
	color: #fff;
}

ul#version-history li > p {
	font-size: 1em;
}
h4.inList, h5.inList {
	margin-left: 0;
}
h4.inList:hover {
	margin-left: 0.1em;
}

.inline-icon {
	margin-right:1em;
}

.importantQuestion {
	padding-left: 2em;
	font-style: italic;
	font-size: 12pt;
	color: rgb(158, 30, 24);
	text-decoration:underline;
	font-weight: bold;
}

/* about:config settings */
li tt {
  display: inline-block;
  background: rgba(60, 60, 60, 0.2);
	border-radius: 4px;
	font-size: 10pt;
	font-weight: bold;
	margin-left: 0.3em;
	margin-right: 0.3em;
	padding-left: 3px;
	padding-right: 3px;
	text-shadow: 1px 1px 1px rgba(256, 256, 256, 0.7);
}
p.QuickFoldersFreeUser,
p.QuickFoldersProUser,
table.QuickFoldersFreeUser  {
	background: rgba(250,250,250,0.6);
  border: 2px solid rgba(60,60,60,0.5);
	border-radius: 10px;
	box-shadow: 4px 4px 3px rgba(20,20,20,0.3);
	margin-left: 30px;
	margin-bottom: 1.3em;
	max-width: 800px;
	padding: 0.5em 0.8em;
}

.QuickFoldersFreeUser {
  font-size: 1.3em !important;
}
.QuickFoldersFreeUser em {
  font-weight: bold;
}
