@import url("/css/myProjects.css") screen;

.inline-donate {
	display: inline-block;
	vertical-align: middle;
	margin-left: 2em;
}

/* donate button - renewal */
@keyframes quickfiltersPulse {
	to {box-shadow: 0 0 0 10px rgba(150, 80, 60, 0.12)};
}

#main-content-no-nav  a[href].renewButton {
  animation: quickfiltersPulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
	background-color: rgb(7, 97, 48) !important;
	background: linear-gradient(to bottom, rgba(184,211,27,1) 0%,rgba(122,166,18,1) 50%,rgba(92,138,0,1) 51%,rgba(135,181,19,1) 100%) !important;
	box-shadow: 0 0 0 0px rgba(40, 40, 40, 0.0);
	border: 1px solid #fff;
	display: inline-block;
	margin: 0.1em 1.5em;
	max-height: 2em; /* slimmer donate button */
	outline: 1px solid rgba(0,0,0,0.0);
  padding: 0.3em 1em;
	transition: outline-color 1.6s ease-out, outline-width 1.2s ease;
}

#main-content-no-nav a[href].renewButton:hover {
	animation-play-state: paused;
	outline: 1600px solid rgba(0,0,0,0.4); /* dim background on hover */
	transition: outline-color 1.5s ease !important;
	opacity: 1 !important;
	margin: 0.1em 1.5em !important;
	border-radius: 0;
}


/* inline checkbox */
.cb {
	margin-right: 5px;
	margin-left: 6px;
}


ol {
	list-style-type: decimal !important;
}

ol > li {
	display: list-item;
	list-style-image: none !important;
	list-style-type: decimal !important;
}

ul.sublist {
	margin-left: 5em;
}
ul.sublist li {
	margin-left: 4em;
	list-style: outside url("/images/triangle.png") square;
}

ul#version-history {
  margin-left: 2em;
}
/* version history headings */
ul#version-history > li {
  list-style: none;
}
ul#version-history > li ul {
   margin-left: 2em;
}

ul#version-history > li ul li {
  list-style: square outside url('/images/square-orange-small.png');
  font-size: 11pt;
  padding-bottom: 0.4em;
  padding-top: 0.4em;
	margin-left: 1em;
} 


#version-history li > h4 {
	background: rgb(246,67,32);
	background: linear-gradient(to bottom,  rgba(246,67,32,1) 0%,rgba(214,39,8,1) 15%,rgba(126,27,2,1) 50%,rgba(194,36,8,1) 83%,rgba(225,41,9,1) 100%);
	color: #ffffff;
	cursor: default;
	font-weight: normal;
	font-size: 10pt;
	margin-right: auto !important;
	padding-bottom: 0.3em;
}
#version-history li > h4:hover {
	border-radius: 0.3em;
	border-width: 2px;
	background: rgb(214,43,8);
	background: linear-gradient(to bottom,  rgba(214,43,8,1) 0%,rgba(164,30,6,1) 15%,rgba(79,17,1,1) 50%,rgba(146,27,6,1) 83%,rgba(255,84,84,1) 100%);
}

#version-history ul h4.inList {
	border: 1px transparent !important;
  color: rgb (0,0,0);
	font-weight: bold;
	font-size: 12pt;
	background: rgb(242,246,248);
	background: linear-gradient(to bottom,  rgb(241, 231, 103) 0%, rgb(241, 231, 103) 37%, rgb(254, 182, 69) 100%);
}


#version-history li > h5 {
	background: rgb(209,33,10);
	background: linear-gradient(to bottom,  rgba(209,33,10,1) 0%,rgba(98,18,4,1) 30%,rgba(57,12,1,1) 50%,rgba(88,16,4,1) 75%,rgba(183,7,7,1) 100%);
	border-radius: 0.5em;
	color: #ffffff;
	display: inline-block;
	font-weight: bold;
	font-size: 9pt;
}

#version-history li > h4.inList, h4.inList, h5.inList  {
	padding-right: 1em;
	padding-left: 1em;
}


#version-history li > h4 > a,
#version-history li > h4 > a[href],
#version-history li > h4 > a[href]:visited {
  cursor: pointer;
  display: inline-block;
  font-size: 12pt;
  color: #ffffff;
  margin-right: 0.5em;
  margin-top: 0.3em;
  font-weight:450;
  text-decoration: none;
}
#version-history li > h4 > a[href]:hover {
  background-color: rgba(50,20,20,0.5);
  text-decoration: underline;
}

/*
#main-content-no-nav > h4 a {
  margin: 0.5em 1em;
}
*/

#version-history li > h4:before {
  content: url("/ico/QF-Icon24.png");
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.5em;
}

#version-history li > h4,.versionLink {
	color: #fff;
}

ul#version-history li > p {
	font-size: 1em;
}
h4.inList, h5.inList {
	margin-left: 0;
}
h4.inList:hover {
	margin-left: 0.1em;
}

.inline-icon {
	margin-right:1em;
}

.importantQuestion {
	padding-left: 2em;
	font-style: italic;
	font-size: 12pt;
	color: rgb(158, 30, 24);
	text-decoration:underline;
	font-weight: bold;
}

/* about:config settings */
li tt {
  display: inline-block;
  background: rgba(60, 60, 60, 0.2);
	border-radius: 4px;
	font-size: 10pt;
	font-weight: bold;
	margin-left: 0.3em;
	margin-right: 0.3em;
	padding-left: 3px;
	padding-right: 3px;
	text-shadow: 1px 1px 1px rgba(256, 256, 256, 0.7);
}

