dialog {
  height: auto; 
  min-height: 450px; 
}

hbox#qf-header:before {
	content: url("chrome://quickfolders/content/skin/ico/QuickFolders_32.svg");
	margin: 0.2em 0.5em 0em 0.2em;
}
hbox#qf-header {
	background-image: linear-gradient(to bottom, rgba(154,201,244,1) 0%, rgba(208,228,247,1) 13%, rgba(47,137,216,1) 45%, rgba(83,159,225,1) 77%, rgba(135,188,234,1) 100%);
	background-repeat: repeat-x;
	background-color: rgb(154,201,244);
	color: #fff;
	padding: 5px 8px;
	border-radius: 0.1em;
	border: 1px solid #aaa;
	box-shadow: inset 0px 0px 10px #666;
}

description#Explain-Drag {
  Padding: 10px 0px;
}

#qf-options-header {
  display: inline-block;
	vertical-align: top;
	margin-top: 0.5em;
}
#qf-options-header .dialogheader-title {
	margin: 0px !important;
	font-size: large;
	font-weight: bold;
	font-family: calibri,sans-serif;
	color: none;
}

vbox#myscrollbox {
  flex: 1;
  overflow-x: auto;
  max-width: 1200px;
  min-width: unset;
  border: 1px solid black;
  min-width: min-content;
  max-width: 455px;
  padding: 0 2em; 
}

/* 1fr → label takes remaining space. */
.flex-grid {
  display: grid;
  grid-template-columns: 1fr auto auto; /* label | up button | down button */
  align-items: center;                  /* vertical center of row */
  column-gap: 4px;
  row-gap: 2px;
}

.col.Label {
  flex: 5 1 0;  /* grow=5, shrink=1, basis=0 */
}

.col.Btn {
  flex: 1 1 0;  /* grow=1, shrink=1, basis=0 */
}

#myscrollbox,
#QuickFolders-change-order {
  background-color: var(--field-background-color, light-dark(#f0f0f0, #18181b));
  color: var(--field-text-color, light-dark(#18181b, #f4f4f5));
}
hbox.drag-image {
  margin-bottom: 20px;
}

button * {
  margin: auto;
  text-align: center;
}

button.order-button-up,
button.order-button-down {
  display: flex;        /* make the button itself a flex container */
  flex-direction: column;
  align-items: center;  

  border: 1px solid darkgray;
  border-radius: 3px;
  height: 1.8em;             /* same as height */
  list-style: none !important;

  max-width: unset;
  min-width: 3em;
  font-size: 1em;
  
}

button.order-button-up::before, button.order-button-down::before {
  display: flex;
  font-size: 1.1em;
  align-items: center;
  color: var(--button-text-color, light-dark(#18181b, #f4f4f5));
}

button.order-button-up::before {
  content: "▲";
  margin-right: 0.2em;
}

button.order-button-down::before {
  content: "▼";
  margin-right: 0.2em;
}

