
hbox#qf-header:before {
	content: url("chrome://quickfolders/content/skin/ico/QuickFolders_32.svg");
	margin: 0.2em 0.5em 0em 0.2em;
}
hbox#qf-header {
	background-image: linear-gradient(to bottom, rgba(154,201,244,1) 0%, rgba(208,228,247,1) 13%, rgba(47,137,216,1) 45%, rgba(83,159,225,1) 77%, rgba(135,188,234,1) 100%);
	background-repeat: repeat-x;
	background-color: rgb(154,201,244);
	color: #fff;
	padding: 5px 8px;
	border-radius: 0.1em;
	border: 1px solid #aaa;
	box-shadow: inset 0px 0px 10px #666;
}

description#Explain-Drag {
  Padding: 10px 0px;
}

#qf-options-header {
  display: inline-block;
	vertical-align: top;
	margin-top: 0.5em;
}
#qf-options-header .dialogheader-title {
	margin: 0px !important;
	font-size: large;
	font-weight: bold;
	font-family: calibri,sans-serif;
	color: none;
}

vbox#myscrollbox {
  overflow: auto;
  max-height:650px;
  background-color: #FFF;
  color: black;
  padding: 2px;
  border: 1px solid black;
}



.flex-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.col.Label {
  flex: 0 50%;
}
.col.Btn {
  flex: 0 10%;
}




grid#QuickFolders-change-order-grid {
  display: grid;
  max-height:1000px !important;
}

hbox.drag-image {
  margin-bottom: 20px;
}

#QuickFolders-change-order-grid button {
  -moz-appearance: none;
  border: 1px solid darkgray !important;
  border-radius: 3px;
  padding-left: 1.5em;
  padding-bottom: 0.1em;
}
#QuickFolders-change-order-grid button:hover {
  color: -moz-dialogtext;
}
button * {
  margin: auto;
  text-align: center;
}

button.order-button-up {
  max-height: 1.9em !important;
  list-style-image: url("chrome://quickfolders/content/skin/ico/dropUp.gif") !important;
}
button.order-button-down {
  max-height: 1.9em !important;
  list-style-image: url("chrome://quickfolders/content/skin/ico/dropDown.gif") !important;
}

rows#QuickFolders-change-order-grid-rows row
{
  line-height: 1.8em !important;
}

