@import url('chrome://quickfolders/content/contribute.css');

image#logo {
	height: 32px;
	width: auto;
	margin: 0 3em 0 1em;
}
#bottomLogo {
	height: 4em;
}


#qf-template {
  max-width: 600px; 
}

#qf-filter-templates {
  min-width: 15em;
	max-height: 19.2em;
}

hbox.myWizard {
  max-width: 500px; 
}

#qf-template-prefpane {
  min-height:280px; 
  min-width: 550px;
  max-width: inherit;
}
#boxDescription {
  min-height: 5em; 
  max-width: 520px !important;
}
#templateLabel { padding-top: 0.5em; }
#templateDescription {
  padding: 0.5em;
  min-height:3.8em;
  max-width: 450px !important;
}
#qf-whatToDo {
	margin-bottom: 3em;
}
.link {
  cursor: pointer;
	text-decoration: underline;
}
#getQuickFilters {
	background-color: rgb(130, 10, 10);
  color: white;	
  max-width: 180px;
	min-height: 3em;
	padding: 0.8em;
}
#quickFiltersLink {
  padding: 0.8em;
	border: 2px solid rgb(130, 10, 10);
}

