

#QuickFolders-Toolbar {
    min-height: 24px ;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

#QuickFolders-Toolbar toolbarbutton {
    padding: 1px 5px 2px 2px;
    margin: 3px 0px 0px 3px;
    line-height: 19px;
    height: 19px;
    vertical-align:top;
}

#QuickFolders-Toolbar toolbarbutton.selected-folder {
    text-decoration: underline;
}

#QuickFolders-Toolbar toolbarbutton.has-unread {
    font-weight: bold;
}

#QuickFolders-Toolbar toolbarbutton.has-messages {
    font-style: italic;
}

/* container for categories drop down*/
#QuickFolders-Category-Box {
    display: -moz-inline-box;
    float:left;
    vertical-align: bottom !important;
}

#QuickFolders-Category-Selection {
    max-height:1.9em;
    display:none;
}


#QuickFolders-LabelBox {
    display: -moz-inline-box;
    float: left;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    min-width: 0px !important;
}

#QuickFolders-title-label {
    line-height: 24px;
    font-weight: bold;
}

#QuickFolders-FoldersBox {
    display:  -moz-inline-box;
    float:right;
    max-height:15em;
}

#QuickFolders-Instructions-Label {
    max-height:28px;
    min-width: 85%;
}

/* gradient options */
vbox.gradientpanel {
	margin-left: 30px;
	padding:6px 4px;
	border: 1px solid white;
    background-repeat: repeat-x;
}
#green {
  background-image: url("gradient-green.png");
}
#red {
  background-image: url("gradient-red.png");
}
#yellow {
  background-image: url("gradient-yellow.png");
}

/* Native shell styles */
#QuickFolders-Toolbar.toolbar-native toolbarbutton
{
	-moz-appearance: tab !important;
}

#QuickFolders-Toolbar.toolbar-native  toolbarbutton.selected-folder
{
  /* find a way to make button look selected/active all the time? */
}


/* Flat Styles below */
#QuickFolders-Toolbar.toolbar-flat {
    margin: 0;
    padding: 0;
    border: 1px solid #AAA;
    background-color: Menu;
    border-bottom: 3px solid;
    border-bottom-color: Highlight;
    display: -moz-inline-box;
}


#QuickFolders-Toolbar.toolbar-flat toolbarbutton {
    background-color: ButtonFace;
    color: buttontext;
    -moz-appearance: none !important;
    -moz-border-radius: 4px 4px 0 0;
    padding: 1px 5px 0px 2px;
    border-color: #AAA;
    border-width: 1px !important;
    border-style: solid;
    background-repeat: repeat-x;

    margin: 3px 0px 0px 3px;
    line-height: 18px;
    height: 18px;
    vertical-align:top;
}

#QuickFolders-Toolbar.toolbar-flat toolbarbutton:hover {
    background-color: Orange !important;
    color: Black !important;
    height: 18px;
    margin-top: 2px !important;
    margin-bottom: -1px !important;
    padding: 0px 5px 2px 2px;
}

/* if we add this we get full colored red for active folder: */
/*background-image: url('cols/tabcol-10.png')!important;*/

#QuickFolders-Toolbar.toolbar-flat toolbarbutton.selected-folder {
    background-color:  Highlight !important;
    border-bottom: none !important;
    color: HighlightText !important;
    height: 19px;
    margin-top: 2px !important;
    margin-bottom: 0px !important;
    padding: 0px 5px 2px 2px;
    background-repeat: repeat-x;
}


#QuickFolders-Toolbar toolbarbutton.dragRIGHT:-moz-drag-over,
#QuickFolders-Toolbar toolbarbutton[label].dragRIGHT:-moz-drag-over {
    background-image: url("dropRight.gif") !important;
    background-position: right center !important;
    background-repeat: no-repeat !important;
}

#QuickFolders-Toolbar toolbarbutton.dragLEFT:-moz-drag-over {
/*    background-image: url("dropLeft.gif") !important; // not possible for specifiticy!
    background-position: left center !important;
    background-repeat: no-repeat !important;  */
    list-style-image: url("dropLeft.gif") !important;
}


#QuickFolders-Toolbar toolbarbutton.inbox.icon {list-style-image: url("folder-inbox.png");}
#QuickFolders-Toolbar toolbarbutton.sent.icon {list-style-image: url("folder-sent.png");}
#QuickFolders-Toolbar toolbarbutton.trash.icon {list-style-image: url("folder-trash.png");}


/* there is probably a more elegant way to specify this, but I did not find it [background-image] does not work  */
/*#QuickFolders-Toolbar toolbarbutton.selected-folder.icon, */
#QuickFolders-Toolbar toolbarbutton.inbox.icon,
#QuickFolders-Toolbar toolbarbutton.sent.icon,
#QuickFolders-Toolbar toolbarbutton.trash.icon
{
    -moz-image-region: rect(0px, 16px, 16px, 0) !important;
    background-position: 3px top;
}


/* Experimental for Trash, FindThread Icon */
#Quickfolders-SpecialTools
{
    background-color: Menu;
    border: 1px solid;
}


/* standard menu look */
menupopup.QuickFolders-folder-popup menuitem:-moz-drag-over
{
    background-color: Highlight;
    color: HighlightText;
}

menupopup.QuickFolders-folder-popup menuitem.hasUnread
{
    font-weight: bold !important;
}


/* gradient look */
menupopup.QuickFolders-folder-popup menuitem.cmd:hover
{
    border: 1px solid darkgreen !important;
    color: black !important;
    font-weight: 500;
    background-image: url('jade-bar.png') !important;
}

menuitem.cmd[tagName="qfOptions"] { list-style-image: url('settings-20.png')  !important;}
menuitem.cmd[tagName="qfOrder"] { list-style-image : url('order.gif') !important; }

menupopup.QuickFolders-folder-popup menuitem.color
{
    background-position: 4px 0px  !important;
    background-repeat: repeat-x !important;
    border: 1px solid #444 !important;
    list-style-image : url('palette.png') !important;
    -moz-border-radius: 5px 5px 0 0;
}

menupopup.QuickFolders-folder-popup menuitem[tag="qfTabColorMenu"] { list-style-image : url('palette.png')!important;}

menupopup.QuickFolders-folder-popup menuitem.color:hover
{
    background-color: transparent !important;
	border: 1px solid #D00 !important;
    color: #D00 !important;
    font-weight: 900;
    -moz-border-radius: 5px 5px 0 0;
}


menuitem[tag="qfColor0"] { background-image: none!important; }
menuitem[tag="qfColor1"] { background-image: url('cols/tabcol-1.png') !important;background-color:#FFC105;}
menuitem[tag="qfColor2"] { background-image: url('cols/tabcol-2.png') !important;background-color:#00C000;}
menuitem[tag="qfColor3"] { background-image: url('cols/tabcol-3.png') !important;background-color:#F06000;}
menuitem[tag="qfColor4"] { background-image: url('cols/tabcol-4.png') !important;background-color:#46B066;}
menuitem[tag="qfColor5"] { background-image: url('cols/tabcol-5.png') !important;background-color:#2591CF;}
menuitem[tag="qfColor6"] { background-image: url('cols/tabcol-6.png') !important;background-color:#800080;}
menuitem[tag="qfColor7"] { background-image: url('cols/tabcol-7.png') !important;background-color:#4D7EFB;}
menuitem[tag="qfColor8"] { background-image: url('cols/tabcol-8.png') !important;background-color:#FF119D;}
menuitem[tag="qfColor9"] { background-image: url('cols/tabcol-9.png') !important;background-color:#0E51FA;}
menuitem[tag="qfColor10"] { background-image: url('cols/tabcol-10.png') !important;background-color:#D40000;}
menuitem[tag="qfColor11"] { background-image: url('cols/tabcol-11.png') !important;background-color:#01B1D7;}
menuitem[tag="qfColor12"] { background-image: url('cols/tabcol-12.png') !important;background-color:#F7FF13;}
menuitem[tag="qfColor13"] { background-image: url('cols/tabcol-13.png') !important;background-color:#0A5C68;}
menuitem[tag="qfColor14"] { background-image: url('cols/tabcol-14.png') !important;background-color:#9BF868;}
menuitem[tag="qfColor15"] { background-image: url('cols/tabcol-15.png') !important;background-color:#000000;}
menuitem[tag="qfColor16"] { background-image: url('cols/tabcol-16.png') !important;background-color:#404040;}
menuitem[tag="qfColor17"] { background-image: url('cols/tabcol-17.png') !important;background-color:#01D71A;}
menuitem[tag="qfColor18"] { background-image: url('cols/tabcol-18.png') !important;background-color:#FE28E2;}
menuitem[tag="qfColor19"] { background-image: url('cols/tabcol-19.png') !important;background-color:#FF8080;}
menuitem[tag="qfColor20"] { background-image: url('cols/tabcol-20.png') !important;background-color:#000000;}

menuitem.cmd[tag="qfRename"] { list-style-image : url('rename.gif') !important;}
menuitem.cmd[tag="qfCompact"] { list-style-image : url('compact.png') !important;}
menupopup.QuickFolders-folder-popup menuitem[tag="qfCategory"],
menuitem.cmd[tag="qfCategory"] { list-style-image : url('ablist-item.png') !important;}
menuitem.cmd[tag="qfRemove"] { list-style-image : url('folder-trash.png') !important;}


menupopup.QuickFolders-folder-popup menuitem,
menupopup.QuickFolders-folder-popup menu
{
    -moz-appearance: none !important;
}


menupopup.QuickFolders-folder-popup menuitem:-moz-drag-over,
menupopup.QuickFolders-folder-popup menu:-moz-drag-over
{
    -moz-appearance: none !important;
    border: 1px solid darkred !important;
    color: darkred !important;
    font-weight: 500;
    background-repeat: repeat-x;
}

menupopup.QuickFolders-folder-popup menu.QuickFolders-folder-popup:-moz-drag-over
{
    background-image: url('gold-bar.png') !important;
    list-style-image : url('arrow-yellow.png') !important;
    -moz-border-radius: 5px 0 0 5px;
}

menupopup.QuickFolders-folder-popup menuitem:-moz-drag-over
{
    text-decoration: underline !important;
    background-image: url('orange-bar.png') !important;
    list-style-image : url('tb-anchor.png') !important;
}



menupopup.QuickFolders-folder-popup menuitem:-moz-drag-over,
menupopup.QuickFolders-folder-popup menuitem[tag="sub"]:hover
{
    -moz-border-radius: 4px 4px 0 0;
}


menupopup.QuickFolders-folder-popup menuitem:hover,
menupopup.QuickFolders-folder-popup menu:hover
{
    border: 1px solid brown !important;
    color: brown !important;
    font-weight: 500;
    background-image: url('gold-bar.png');
}

menupopup.QuickFolders-folder-popup menuitem:hover
{
    list-style-image : url('folder-open.png')
}


