
button.order-button {
    width: 20px;
}

#QuickFolders-Toolbar {
    min-height: 24px;
    line-height: 24px;
}

#QuickFolders-Toolbar toolbarbutton {
    line-height: 24px;
    height: 24px;
}

#QuickFolders-Toolbar toolbarbutton.selected-folder {
    text-decoration: underline;
}

#QuickFolders-Toolbar toolbarbutton.has-unread {
    font-weight: bold;
}

#QuickFolders-Toolbar toolbarbutton.has-messages {
    font-style: italic;
}


#QuickFolders-title-label {
    line-height: 24px;
    font-weight: bold;
}



/* Flat Styles below */
#QuickFolders-Toolbar.toolbar-flat {
    margin: 0;
    padding: 0;
    border: 1px solid #AAA;
    background-color: Menu; 
    border-bottom: 3px solid;
    border-bottom-color: Highlight;
}

#QuickFolders-Toolbar.toolbar-flat toolbarbutton {
    -moz-appearance: none !important;
    -moz-border-radius: 4px 4px 0 0;
    background-color: ButtonFace; 
    padding: 1px 5px 0px 2px;
    border: 1px solid #AAA;
    margin: 3px 0px 0px 3px;	
    line-height: 20px;
    height: 20px;
}



#QuickFolders-Toolbar.toolbar-flat toolbarbutton:hover{
    background-color: Orange !important; 
    color: Black !important;
    height: 21px;
    margin-top: 2px !important; 
    padding-top: 0px  !important; 
}

#QuickFolders-Toolbar.toolbar-flat toolbarbutton:-moz-drag-over {
    background-color: #E93903 !important; 
    color: White !important;
}


#QuickFolders-Toolbar.toolbar-flat toolbarbutton.selected-folder {
    background-color:  Highlight !important; 
    color: HighlightText !important;
    border: 1px solid #666 !important;
    border-bottom: none !important;
    height: 22px;
    padding: 0px 5px 2px 2px !important;
    margin-top: 2px !important;    
    margin-bottom: -1px !important;
}

#QuickFolders-Toolbar toolbarbutton.dragRIGHT {
  background-image: url("dropRight.gif") !important;
  background-position: right center !important;
  background-repeat: no-repeat !important;
  margin-right: 1px;
}



#QuickFolders-Toolbar toolbarbutton.dragLEFT {
  background-image: url("dropLeft.gif") !important;
  background-position: left center !important;
  background-repeat: no-repeat !important;
}

/* Experimental for Trash, FindThread Icon */
#Quickfolders-SpecialTools {
	background-color: Menu; 
	border: 1px solid;
}


menupopup.QuickFolders-folder-popup menuitem:-moz-drag-over {
  background-color: Highlight !important;
  color: HighlightText !important;
}

#QuickFolders-Toolbar toolbarbutton.specialButton {
  -moz-appearance: none !important;
    -moz-image-region: rect( 0px 24px 24px  0px);
/*      -moz-appearance: toolbarbutton !important; */
	background-image: url("thread.png") !important;
	background-repeat: no-repeat !important;
	padding-left: 24px;
/*    dir: normal !important;
    orient: horizontal  !important;
    validate: always !important; */
    line-height: 17px !important;
    height: 17px !important;

}
#QuickFolders-Toolbar toolbarbutton.specialButton:hover {
    margin-top: default !important; 
    padding-top: default  !important; 
}


/* Options window */
#qf-options-prefpane {
	background-image: url("quickfolders-Icon.png") !important;
    background-position: 10px 10px !important;
    background-repeat: no-repeat !important;
}    

#qf-options-header {
	margin: 5px 0px 5px 45px;
	border: 2px solid;
	-moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
	-moz-border-right-colors: ThreeDHighlight ThreeDDarkShadow;
	-moz-border-bottom-colors: ThreeDHighlight ThreeDDarkShadow;
	-moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
	padding: 5px 8px;
	background-color: Highlight;
	color: HighlightText;
}

#qf-options-header .dialogheader-title {
	margin: 0px !important;
	font-size: larger;
	font-weight: bold;
}

description.quickhelp-desc {
	max-width: 460px;
}



