/* special style for license button */
#btnLicense label,
#btnEnterCode label
{
	padding: 0px 2em;
	margin: 0;
	max-height: 1.6em; /* slimmer donate button */
}

#btnLicense, #btnEnterCode {
  font-family: cambria, Georgia, serif; /* see also .niceFont in quickfolders-options.css */
  font-size: 10.2pt;
}

#btnLicense
{
	-moz-appearance: none;
	background: rgb(254,204,177);
	background-color: #073061 !important;
	background: linear-gradient(to bottom, rgba(184,211,27,1) 0%,rgba(122,166,18,1) 50%,rgba(92,138,0,1) 51%,rgba(135,181,19,1) 100%) !important;
	border: 1px solid #fff;
	border-radius: 0.4em;
	box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.7);
	color: #FFFFFF;
	font-weight: bold;
	margin: 2px 0px;
	transition-property: box-shadow, margin;
	transition-duration: 0.75s, 0.2s;
}

#btnLicense:hover
{
	margin: 3px -1px 1px 1px;
	box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.8);
	background: rgb(254,222,178);
	background: linear-gradient(to bottom, rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%) !important;
}

#btnLicense:active
{
	margin: 4px -2px 0px 2px;
	box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.9);
	background: rgb(254,222,178);
	background: linear-gradient(to bottom, rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%) !important;
}

#btnLicense { margin-top: 0px; }