/* Options window */
#qf-options-prefpane {
	background-image: url("quickfolders-Icon.png") !important;
    background-position: 10px 10px !important;
    background-repeat: no-repeat !important;
}

#qf-options-header {
	margin: 5px 0px 5px 45px;
	border: 2px solid;
	-moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
	-moz-border-right-colors: ThreeDHighlight ThreeDDarkShadow;
	-moz-border-bottom-colors: ThreeDHighlight ThreeDDarkShadow;
	-moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
	padding: 5px 8px;
	background-color: Highlight;
	color: HighlightText;
}

#qf-options-header .dialogheader-title {
	margin: 0px !important;
	font-size: larger;
	font-weight: bold;
}


label.qfTabPreview {
  border: #AAA 1px solid;
  -moz-border-radius: 4px 5px 0 0;
  padding: 3px 8px;
  min-width:20px;
  vertical-align:middle;
}

description.text-link {
  padding: 3px 8px 3px 8px;
}
description.text-link:hover {
  text-decoration: underline !important;
}

label [href^="mailto"] {
  text-decoration: underline  !important;
}

label.text-link:hover {
  color: white !important;;
  background-color:	blue !important;
}

description.quickhelp-desc, description.quickhelp-dbg {
	text-align:justify;
	max-width: 550px;
}

description.quickhelp-dbg, hbox.quickhelp-dbg {
  color:#C0C0C0;
  background-color:#202020;
  padding: 3px 8px 3px 8px;
}
