/* change-order */
hbox#qf-header {
	background-image: -moz-linear-gradient(top, rgba(154,201,244,1) 0%, rgba(208,228,247,1) 13%, rgba(47,137,216,1) 45%, rgba(83,159,225,1) 77%, rgba(135,188,234,1) 100%);
}

/* contribute.css */
button.dialog-button[dlgtype=extra2] {
	background: -moz-linear-gradient(top, rgba(254,204,177,1) 0%, rgba(241,116,50,1) 50%, rgba(234,85,7,1) 51%, rgba(251,149,94,1) 100%) !important;
}

.dialog-button[dlgtype=extra2]:hover { 
	background: -moz-linear-gradient(top, rgba(254,222,178,1) 0%, rgba(241,162,51,1) 50%, rgba(235,140,7,1) 51%, rgba(251,186,95,1) 100%); 
}

.dialog-button[dlgtype=extra2]:active { 
	background: -moz-linear-gradient(top, rgba(254,222,178,1) 0%, rgba(241,162,51,1) 50%, rgba(235,140,7,1) 51%, rgba(251,186,95,1) 100%); 
}

/* options.xul */
#qf-options-header {
	background-image: -moz-linear-gradient(center bottom , rgba(10, 10, 10, 0.2) 0%, rgba(100, 100, 100, 0.2) 60%, rgba(220, 220, 220, 0.5) 95%, rgba(255, 255, 255, 0.9) 100%);	
}


#L2:hover,
#L2:focus {
	background: -moz-linear-gradient(top, rgba(251,202,159,1) 0%, rgba(248,148,60,1) 23%, rgba(239,101,21,1) 42%, rgba(252,183,122,1) 100%) !important;
}

#L3:hover, #L3:focus {
	background-image: -moz-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,234,187,1) 6%, rgba(248,181,0,1) 34%, rgba(251,223,147,1) 100%) !important;
}

#L4:hover, #L4:focus {
	background-image: -moz-linear-gradient(top, rgba(208,228,247,1) 0%, rgba(115,177,231,1) 24%, rgba(10,119,213,1) 50%, rgba(83,159,225,1) 79%, rgba(135,188,234,1) 100%) !important;
}


#L5:hover, #L5:focus {
	background-image: -moz-linear-gradient(top, rgba(174,45,28,1) 0%, rgba(214,90,79,1) 12%, rgba(193,53,38,1) 43%, rgba(126,24,8,1) 100%) !important;
}

#L0:hover, #L1:hover {
	background: -moz-linear-gradient(top, rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%) !important;
}
#L0:focus, #L1:focus  {
	background: -moz-linear-gradient(top, rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%) !important;
}

hbox.quickhelp-dbg {
	background: -moz-linear-gradient(top, rgba(174,188,191,1) 0%, rgba(110,119,116,1) 27%, rgba(10,14,10,1) 48%, rgba(10,8,9,1) 100%);
}

.dialog-button[dlgtype=extra2]
{
	transition-property: box-shadow, margin;
	transition-duration: 0.75s, 0.2s;
}


/* Categories dialog */
#green {
	background: -moz-linear-gradient(top, rgba(230,240,163,1) 0%, rgba(210,230,56,1) 21%, rgba(195,216,37,1) 37%, rgba(219,240,67,1) 100%);
}
#red {
	background: -moz-linear-gradient(top, rgba(242,206,206,1) 0%, rgba(218,106,106,1) 27%, rgba(218,102,76,1) 29%, rgba(244,162,162,1) 100%);
}
#yellow {
	background: -moz-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 29%, rgba(248,181,0,1) 39%, rgba(251,223,147,1) 100%);
}

/* main window - don't use */
notification[value="quickfolders-filter"] hbox.notification-inner {
	background-image: -moz-linear-gradient(top, rgba(251,28,3,1) 0%, rgba(161,26,11,1) 42%, rgba(138,18,4,1) 51%, rgba(199,24,5,1) 100%);
}
#QuickFolders-Category-Box[mode="filter"] {
	background-image: -moz-linear-gradient(top, rgba(251,28,3,1) 0%, rgba(161,26,11,1) 42%, rgba(138,18,4,1) 51%, rgba(199,24,5,1) 100%);
}
toolbar#QuickFolders-CurrentFolderTools {
	background-image: -moz-linear-gradient(center bottom, #FFFFFF 7%, #BDB9BD 88%, #EEE 100%);
}

/* quickfilters button */
#QuickFolders-Category-Box[mode="filter"] {
	background-image: -moz-linear-gradient(top, rgba(251,28,3,1) 0%, rgba(161,26,11,1) 42%, rgba(138,18,4,1) 51%, rgba(199,24,5,1) 100%);
}


/* register license window */
.product {
  background: -moz-linear-gradient(top, rgb(254, 204, 177) 0%, rgb(241, 116, 50) 50%, rgb(234, 85, 7) 51%, rgb(251, 149, 94) 100%);
}
.heading {
  background: -moz-linear-gradient(top, #F1E767 0%, #F1E767 37%, #FEB645 100%) repeat scroll 0% 0% transparent;
}

#btnLicense {
  background: -moz-linear-gradient(top, rgba(184,211,27,1) 0%, rgba(122,166,18,1) 50%, rgba(92,138,0,1) 51%, rgba(135,181,19,1) 100%);	
}
#btnLicense:hover, #btnLicense:active
{
	background: -moz-linear-gradient(top, rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%) !important;
}

/* animated icons */
menuitem.cmd[tagName="qfRegister"] .menu-iconic-icon, #QuickFolders-Pro .tab-icon {
  -moz-animation-name: qfIconRotateY;
}

#QuickFolders-Toolbar #QuickFolders-title-label:hover {
	background-image: -moz-linear-gradient(top, rgb(184, 211, 27) 0%, rgb(122, 166, 18) 50%, rgb(92, 138, 0) 51%, rgb(135, 181, 19) 100%) !important;	
	color: rgb(255, 255, 255);
}





