
/* legacy css rules - border-radius Pre-Gecko 2.0 */

#QuickFolders-Toolbar toolbarbutton[biffState-NewMail].has-unread > label
{
	-moz-border-radius: 3px;
}

#QuickFolders-Toolbar menu[biffState-NewMail].hasUnread ,
#QuickFolders-Toolbar menuitem[biffState-NewMail].hasUnread 
{
	-moz-border-radius: 2px;
}

#QuickFolders-CurrentFolderTools.quickfolders-pills toolbarbutton#QuickFoldersCurrentFolder,
.quickfolders-pills toolbarbutton {
	-moz-border-radius: 1.8em !important;
}

menupopup.QuickFolders-folder-popup menuitem.color
{
	-moz-border-radius: 5px 5px 0 0;
}
menupopup.QuickFolders-folder-popup menuitem.color:hover
{
	-moz-border-radius: 5px;
}

toolbar#QuickFolders-CurrentFolderTools {
	-moz-border-radius: 0 0 6px 6px !important;
}

#QuickFoldersCurrentFolder {
	-moz-border-radius: 0px 0px 4px 4px !important;
}

.quickfolders-flat #QuickFolders-FoldersBox toolbarbutton {
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 0px;
}

notification[value="quickfolders-filter"] .messageCloseButton {
	-moz-border-radius: 3px;
}

#QuickFolders-Toolbar toolbarbutton[biffState-NewMail].has-unread > label
{
	-moz-box-shadow: inset 0 0 6px #080808;
}

toolbar#QuickFolders-CurrentFolderTools {
	-moz-box-shadow: 1px 2px 4px -1px rgba(0,0,0,0.8);
}

.quickfolders-pills toolbarbutton:active {
	-moz-box-shadow:inset 0 0 8px #111;
}

.quickfolders-pills toolbarbutton:active {
	-moz-box-shadow:inset 0 0 10px #111;
}

.dialog-button[dlgtype=extra2]
{
	-moz-border-radius: 2em;
}