/* quickfolders toolbar layout */

#QuickFolders-Toolbar #QuickFolders-LabelBox #QuickFolders-title-label.newsflash {
	background-color: #006EB7 !important; /* blue */
	background-image: linear-gradient(to bottom, #0380bf 0%,#006eb7 100%) !important;
  border-radius: 2px !important;
}

#QuickFolders-Toolbar #QuickFolders-LabelBox #QuickFolders-title-label.expired {
  background-color: #b80015 !important; /* red */
  background: linear-gradient(to bottom, #890219 0%,#b80015 100%) !important; 
  color: white !important;
}


#QuickFolders-LabelBox #QuickFolders-title-label.newsflash {
  padding-left: 1em;
  padding-right: 1em;
	font-weight: normal !important;
}
#QuickFolders-LabelBox #QuickFolders-title-label.expired {
  padding-left: 2em;
  padding-right: 2em;
}
#QuickFolders-LabelBox #QuickFolders-title-label.renew {
  /* save some space */
	color: rgb(255,255,255) !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
  font-size: 1em !important;
	font-weight: normal !important;
}
#QuickFolders-LabelBox #QuickFolders-title-label.renew,
#QuickFolders-ToolbarPopup-checkLicense {
  background-color: #ee570b !important; /* orange */
  background: linear-gradient(to bottom, #893a02 0%,#ec6301 100%) !important; 
	color: rgb(255,255,255) !important;
}

#QuickFolders-Toolbar #QuickFolders-LabelBox #QuickFolders-title-label.newsflash label, 
#QuickFolders-Toolbar #QuickFolders-LabelBox #QuickFolders-title-label.expired label {
	color: rgb(255,255,255) !important;
  font-size: 1.1em;
}

#QuickFolders-Toolbar #QuickFolders-LabelBox #QuickFolders-title-label.newsflash:hover {
	background-color: #ffd65e !important; /* yellow */
	background-image: linear-gradient(to bottom, #fff65e 0%,#febf04 100%) !important;
}
#QuickFolders-Toolbar #QuickFolders-LabelBox #QuickFolders-title-label.newsflash:hover label {
	color: rgb(60,0,0) !important;
}

/* increase delay for pulsing shadow to 60mins */
#QuickFolders-Toolbar #QuickFolders-LabelBox #QuickFolders-title-label.expired {
	animation: quickfoldersRenew 2s 3600s infinite cubic-bezier(0.66, 0, 0, 1);
	box-shadow: 0 0 0 0 rgba(40, 40, 40, 0.0);
	margin: 0 4px 1px 7px;
}

#QuickFolders-Toolbar[brighttext="true"] #QuickFolders-title-label.expired  {
	animation: quickfoldersRenewBright 2s 60s infinite cubic-bezier(0.66, 0, 0, 1);
}

#QuickFolders-Toolbar #QuickFolders-title-label.expired:hover {
	animation-play-state: paused;
	opacity: 1;
}

#QuickFolders-Toolbar #QuickFolders-title-label.expired:hover > label {
	color: rgb(255,250,205) !important; /* lemon chiffon */
}

#QuickFolders-Toolbar #QuickFolders-title-label:hover,
#QuickFolders-Toolbar #QuickFolders-LabelBox #QuickFolders-title-label.expired:hover:not(.newsflash) {
  /* bright green */
	border-color: rgb(255, 255, 255);
	background-image: linear-gradient(to bottom, rgb(184, 211, 27) 0%, rgb(122, 166, 18) 50%, rgb(92, 138, 0) 51%, rgb(135, 181, 19) 100%) !important;
	color: rgb(255, 255, 255);
}

#QuickFolders-title-label:hover .toolbarbutton-text {
	color: rgb(255, 255, 255) !important;
}


