@import url('chrome://quickfolders/skin/quickfolders-palettes.css');

/* SeaMonkey layout fixes; */
menupopup.QuickFolders-folder-popup menuitem,
menupopup.QuickFolders-folder-popup menu,
menupopup.QuickFolders-folder-popup menuitem:-moz-drag-over,
menupopup.QuickFolders-folder-popup menu:-moz-drag-over
{
    -moz-appearance: none !important;
    padding: 1px 5px;
    margin: 0px;
}

#QuickFolders-Toolbar.quickfolders-flat
{
  -moz-appearance: none !important; /* support coloring and bottom border */
	border-bottom-style: solid;
}

toolbar[mode="icons"]#QuickFolders-Toolbar  .toolbarbutton-text
{
	display: block !important;
}

#QuickFolders-Toolbar toolbarbutton#QuickFolders-mainPopup {
	/*height:20px;*/
	margin-top:0px !important;
	padding-top: 0px !important;
	vertical-align: middle;
}
#QuickFolders-Toolbar toolbarbutton#QuickFolders-mainPopup > * {
	min-height: 16px;
}

toolbar.quickfolders-flat .folderBarContainer toolbarbutton:not(.plain) {
	border-width: 1px !important;
	border-style: solid !important;
}

#QuickFolders-Category-Selection {
  vertical-align: top !important;
	margin-top: 0px;
}