
/* modern look thunderbird 60 */
#QuickFolders-skipfolder {
	-moz-image-region: rect(0px, 16px, 16px, 0px);
  list-style-image: url("//quickfolders/skin/ico/skip-60.png") !important;
}

toolbar[brighttext="true"] #QuickFolders-skipfolder {
  list-style-image: url("//quickfolders/skin/ico/skip-60-bright.png") !important;
}

#QuickFolders-skipfolder:hover, #QuickFolders-skipfolder:active {
	-moz-image-region: rect(16px, 16px, 32px, 0px);
}

#QuickFolders-createfolder {
  list-style-image: url("//quickfolders/skin/ico/toolbar-newfolder-60.png");
	-moz-image-region: rect(0px, 18px, 18px, 0px);
}

toolbar[brighttext="true"] #QuickFolders-createfolder {
  list-style-image: url("//quickfolders/skin/ico/toolbar-newfolder-60-bright.png");
	-moz-image-region: rect(0px, 18px, 18px, 0px);
}

#QuickFolders-createfolder:hover,
toolbar[brighttext="true"] #QuickFolders-createfolder:hover {
	-moz-image-region: rect(18px, 18px, 36px, 0px);
}

/* new style for palette */
toolbarpaletteitem  #QuickFolders-toolbar-button.toolbarbutton-1 {
	-moz-image-region: rect(0px, 20px, 20px, 0px) !important;
  list-style-image: url("//quickfolders/skin/ico/quickfolders-toolbar-modern.png") !important;
}

/* toned down the color of active filter mode */
#QuickFolders-Category-Box[mode="filter"] {
	background-image: none;
	background-color: var(--toolbarbutton-checkedhover-backgroundcolor);
}