
#QuickFolders-CurrentFolderTools toolbarbutton#QuickFolders-currentFolderFilterActive,
#QuickFolders-Toolbar toolbarbutton#QuickFolders-filterActive,
menuitem.cmd[tagName="qfFilter"] 
{
	list-style-image: url("chrome://quickfolders/skin/ico/Filter-Map.png");
	-moz-image-region: rect(0px, 16px, 16px, 0px);
}

menuitem.cmd[tagName="qfFilter"] .menu-iconic-icon { -moz-image-region: rect(0px, 16px, 16px, 0px) !important; }
menuitem.cmd[tagName="qfFilter"]:hover .menu-iconic-icon { 
	list-style-image: url("chrome://quickfolders/skin/ico/Filter-Map.png");
	-moz-image-region: rect(16px, 16px, 32px, 0px)  !important; 
}

#QuickFolders-Category-Box[mode="filter"] toolbarbutton#QuickFolders-filterActive {
	background-color: transparent !important;
	padding: 0px 2px;
	margin: 0;
	min-height: 20px;
	-moz-image-region: rect(16px, 16px, 32px, 0px);
}

/* current Folder bar: filter is active */
#QuickFolders-CurrentFolderTools toolbarbutton#QuickFolders-currentFolderFilterActive[mode="filter"] {
	-moz-image-region: rect(48px, 16px, 64px, 0px);
}

/* disable filter */
#QuickFolders-CurrentFolderTools toolbarbutton#QuickFolders-currentFolderFilterActive[mode="filter"]:hover,
#QuickFolders-Toolbar toolbarbutton#QuickFolders-filterActive:hover {
	-moz-image-region: rect(32px, 16px, 48px, 0px);
}


/* replace notification tag for Tb 64 and later to also match xbl-notification */
notificationbox *[value="quickfolders-filter"] image.messageImage {
	/* filterTemplate.png */
	min-width: 73px !important;
	width: 73px !important;
	min-height: 32px !important;
	height: 32px !important;
}

notificationbox *[value="quickfolders-filter"] .messageCloseButton {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 3px;
	border-radius: 3px;
	margin: 1em 1.5em;
}

notificationbox *[value="quickfolders-filter"] .messageCloseButton:hover {
	background-color: rgba(255, 255, 255, 1);
}

/* postbox - this description simply won't wrap! */
notificationbox *[value="quickfolders-filter"] description.messageText 
{
	white-space: normal !important;
	height: auto;
}

notification[value="quickfolders-filter"] hbox.notification-inner,
notificationbox xbl-notification[value="quickfolders-filter"] {
	color: #fff;
	background-color: rgb(251,28,3);
	background-image: linear-gradient(to bottom, rgba(251,28,3,1) 0%, rgba(161,26,11,1) 42%, rgba(138,18,4,1) 51%, rgba(199,24,5,1) 100%);
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	min-height: 80px; /* workaround for a box size issue in postbox (red background gets clipped at bottom) */
}

#mail-notification-box,
#pbSearchThresholdNotifcationBar {
	height: auto;
}

#displayDeck {
	
}

/* fix some accidental truncations */
#mail-notification-box notification[value="quickfolders-filter"],
#pbSearchThresholdNotifcationBar notification[value="quickfolders-filter"] {
	min-height: 6em;
}