
@import url('chrome://quickfolders/skin/quickfolders-palettes.css');


/* Postbox fixes; */
menupopup.QuickFolders-folder-popup menuitem,
menupopup.QuickFolders-folder-popup menu
{
    -moz-appearance: none !important;
    padding: 1px 5px;
    margin: 0px;
}

menupopup.QuickFolders-folder-popup menuitem:-moz-drag-over,
menupopup.QuickFolders-folder-popup menu:-moz-drag-over
{
    -moz-appearance: none !important;
}

#QuickFolders-Toolbar.quickfolders-realTabs {
  -moz-appearance: toolbar !important;
}
#QuickFolders-Toolbar.quickfolders-flat {
  -moz-appearance: none !important; /* support coloring and bottom border */
}

#QuickFolders-Category-Selection menupopup menuitem[type="checkbox"] {
	-moz-binding: url("chrome://global/content/bindings/menu.xml#menuitem-iconic");
	-moz-appearance: checkmenuitem;
}

#QuickFolders-Category-Selection menupopup menuitem[checked=true]  {
	font-weight: bold !important;
}

#QuickFolders-Category-Selection menupopup menuitem[type="checkbox"] .menu-iconic-left {
  min-width: 1.45em;
}

#QuickFolders-Category-Selection menupopup menuitem[type="checkbox"] .menu-iconic-icon {
  width: 16px;
  height: 16px;
}

/** Postbox fixes */
 #pbSearchThresholdNotifcationBar notification[value=quickfolders-filter] .messageCloseButton {
   visibility: collapse !important;
 }
 
 #pbSearchThresholdNotifcationBar notification[value=quickfolders-filter] button:nth-child(2) {
   -moz-appearance: toolbarbutton;
   /* background-image: close-button-option */
   list-style-image: url("chrome://quickfolders/skin/ico/close-button-option.png");
   min-width: 16px;
   background-image: none;
 }
 
 #pbSearchThresholdNotifcationBar notification[value=quickfolders-filter] button:nth-child(2) > hbox {
   padding: 0 !important;
   margin: 0 !important;
   max-width: 16px;
   background-image: none;
 }
 
 #pbSearchThresholdNotifcationBar notification[value=quickfolders-filter] button:nth-child(2) label {
   visibility: collapse !important;
 }
 
#QuickFolders-CurrentFolderTools #QuickFoldersCurrentFolder.icon > image {
	margin-right: 0.4em !important; /* in postbox this icon is glued to the label */
}

notification[value="quickfolders-proFeature"] .notification-button[accesskey] {
	background: -moz-linear-gradient(top, rgba(184,211,27,1) 0%,rgba(122,166,18,1) 50%,rgba(92,138,0,1) 51%,rgba(135,181,19,1) 100%) !important;
  -moz-animation: quickfoldersPulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
}

notification[value="quickfolders-proFeature"] .notification-button[accesskey]:hover {
	background: -moz-linear-gradient(top, #fedeb2 0%, #f1a233 46%, #eb8c07 57%, #fbba5f 100%) !important;
}


#QuickFolders-Toolbar #QuickFolders-title-label:hover {
	background-image: -moz-linear-gradient(top, rgb(184, 211, 27) 0%, rgb(122, 166, 18) 50%, rgb(92, 138, 0) 51%, rgb(135, 181, 19) 100%) !important;	
}

#QuickFolders-Toolbar #QuickFolders-title-label.expired {
	background-image: -moz-linear-gradient(top, #bf376b 0%,#990038 51%,#700029 100%) !important; 
}