@media screen and (max-width:600px) {
  .wrapper {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
}

@media screen and (max-width:679px) {
  .twoColumn  { 
    flex-direction: column !important;
  }
  .twoColumn .column  { 
    width: 100% !important;
    font-size: 1em;
  }
  .twoColumn .column img { 
    display: block;
    margin-left: auto;
    margin-right:auto;
  }
  .outer {
    width:100vw !important;
  }
  .wrapper {
    width: 100vw !important;
    margin-left: 10px !important;
    margin-right: 10px !important; 
  }
}

body {
  background-color: rgb(49, 33, 15);
}

.outer {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0px;
  background-color: #DCB;
}

.header, .footer {
  width: 100%;
}
.header img, .footer img {
  width: 100%;
}
.footer {
  padding-bottom: 0;
  margin-bottom: 10px;
  background-color: rgb(49, 33, 15);
}

.wrapper {
  margin-left: 40px;
  margin-right: 40px;
  width: 600px;
  background-color: #DCB;
  color: rgba(10,10,10,0.9);
  font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
  font-size: 18px;
}

.wrapper h1, .wrapper h2 {
  text-align: center;
}

h2.phoneLarge {
  font-weight: normal;
  font-size: 2em;
  margin: 13px auto;
}

.wrapper p {
  margin: 1.1em 0;
  text-align: justify;
}

.wrapper a[href], .wrapper a[href]:visited {
  font-weight: bold !important;
  color: rgb(103, 37, 2);
  padding: 0 4px;
  border-radius: 4px;
  border: 1px solid transparent;
}

.wrapper a[href]:hover  {
  color: rgb(162, 59, 0);
  /*font-size: 1.2em;
  margin: -0.2em;*/
  border: 1px solid rgba(88, 88, 88,0.3);
  box-shadow: inset 3px 2px 3px rgba(10,10,10,0.1);

}
.wrapper a[href]:active {

  border: 1px solid rgba(88, 88, 88,0.1);
}

.salutation {
  font-size: 1.5em;
}
.recipient {
  font-weight: bold;
}

.twoColumn {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.column {
  /* border: 1px beige dotted; */
  width: 50%;
  font-size: 0.9em;
}
.column p {
  margin-top: 0;
  margin-bottom: 0.9em;
}
.column img {
  max-width: 290px;
}

.contact {
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
}

.video {
  text-align: center;
}
.video img {
  border: 4px solid rgb(120,60,60);
}
.video img:hover {
  border: 4px solid rgb(200,60,60);
  transform:  accumulatematrix
}
.lastImage {
  width: 600px;
}
.zoom {
  transition: transform .4s, border-color .4s; /* Animation */
  margin: 0 auto;
}
.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.lastImage img {
  width: 100%;
}

img.shadow {
  box-shadow: 6px 6px 3px rgba(40, 40, 40, 0.3);
  border-radius: 8px;
}

.contact h1 {
  margin: 0.35em 0;
}

.contact p {
  text-align: center;
  margin: 0.4em 0;
}

.contact div.separator {
  margin-left: 4em;
  margin-right: 4em;
  border: 6px solid black;
  border-radius: 8px;
  box-shadow: 16px 6px 2px rgb(171, 158, 15);
}

hr.separator {
  border:none;
 	width: 60%;
	height: 60px;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
  margin: -60px auto 30px; 
}

.video {
  width: 560;
  height: 960;
}

p.social {
  text-align: center;
}