@media  {

}

body {
  background-color: rgb(49, 33, 15);
}

.outer {
  width: 680px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0px;
  background-color: #DCB;
}

.header, .footer {
  width: 100%;
}
.header img, .footer img {
  width: 680px;
}

.wrapper {
  margin-left: 40px;
  margin-right: 40px;
  width: 600px;
  background-color: #DCB;
  color: rgba(10,10,10,0.9);
  font-family: font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
  font-size: 18px;
}

.wrapper h1, .wrapper h2 {
  text-align: center;
}

.wrapper p {
  margin: 1.1em 0;
  text-align: justify;
}

.wrapper a[href], .wrapper a[href]:visited {
  font-weight: bold !important;
  color: rgb(103, 37, 2);
  padding: 0 4px;
  border-radius: 4px;
  border: 1px solid white;
}

.wrapper a[href]:hover  {
  color: rgb(229, 80, 0);
  background-color: rgb(37, 26, 6);
  /*font-size: 1.2em;
  margin: -0.2em;*/


}
.wrapper a[href]:active {

}

.salutation {
  font-size: 1.5em;
}
.recipient {
  font-weight: bold;
}

.twoColumn {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.column {
  /* border: 1px beige dotted; */
  width: 50%;
  max-width: 300px;
  display: flex-child;
  font-size: 0.9em
}
.column p {
  margin-top: 0;
  margin-bottom: 0.9em;
}
.column img {
  max-width: 290px;
}

.contact {
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
}

.video {
  text-align: center;
}
.lastImage {
  width: 600px;
}

.lastImage img {
  width: 100%;
}

img.shadow {
  box-shadow: 6px 6px 3px rgba(40, 40, 40, 0.3);
  border-radius: 8px;
}

.contact h1 {
  margin: 0.35em 0;
}

.contact p {
  text-align: center;
  margin: 0.4em 0;
}

.contact div.separator {
  margin-left: 4em;
  margin-right: 4em;
  border: 6px solid black;
  border-radius: 8px;
  box-shadow: 16px 6px 2px rgb(171, 158, 15);
}

hr.separator {
  border:none;
 	width: 60%;
	height: 60px;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
  margin: -60px auto 30px; 
}



p.social {
  text-align: center;
}