/* classic look Thunderbird 54 and older */


#QuickFolders-skipfolder {
	-moz-image-region: rect(0px, 18px, 18px, 0px);
	list-style-image: url("//quickfolders/skin/ico/skip-54.png");
}

toolbar[brighttext="true"] #QuickFolders-skipfolder {
	list-style-image: url("//quickfolders/skin/ico/skip-54-bright.png");
}

#QuickFolders-createfolder {
  list-style-image: url("//quickfolders/skin/ico/toolbar-newfolder-57.png");
}

toolbar[brighttext="true"] #QuickFolders-createfolder {
  list-style-image: url("//quickfolders/skin/ico/toolbar-newfolder-57-bright.png");
}

/* new style for palette; Large */
toolbarpaletteitem  #QuickFolders-toolbar-button.toolbarbutton-1,
#QuickFolders-toolbar-button.toolbarbutton-1,
#mail-toolbox > toolbar #QuickFolders-toolbar-button.toolbarbutton-1
{
  list-style-image: url("//quickfolders/skin/ico/quickfolders-toolbar.png");
}

#mail-toolbox > toolbar[iconsize="small"] #QuickFolders-toolbar-button.toolbarbutton-1 {
  list-style-image: url("//quickfolders/skin/ico/quickfolders-toolbarSmall-classic.png");
}

/* toolbar shown */
#QuickFolders-toolbar-button.toolbarbutton-1[checked=true] {
  -moz-image-region: rect(0px 24px 24px 0px);
}

#QuickFolders-toolbar-button.toolbarbutton-1:hover {
  -moz-image-region: rect(24px 24px 48px 0px);
}

/* toolbar hidden */
#QuickFolders-toolbar-button.toolbarbutton-1 {
  -moz-image-region: rect(48px 24px 72px 0px);
}

/* small icon rules */
/* toolbar shown */
[iconsize="small"] #QuickFolders-toolbar-button[checked=true].toolbarbutton-1 {
  -moz-image-region: rect(0px 16px 16px 0px);
}

[iconsize="small"] #QuickFolders-toolbar-button:hover,
#mail-toolbox > toolbar[iconsize="small"] #QuickFolders-toolbar-button:hover
{
  -moz-image-region: rect(16px 16px 32px 0px);
}

/* toolbar hidden / default */
[iconsize="small"] #QuickFolders-toolbar-button.toolbarbutton-1 {
  -moz-image-region: rect(32px 16px 48px 0px);
}

[iconsize="small"] #QuickFolders-toolbar-button.toolbarbutton-1 image {
	height: 16px;
	width: 16px;
}


toolbarpaletteitem  #QuickFolders-toolbar-button.toolbarbutton-1 image,
toolbar:not([iconsize="small"]) #QuickFolders-toolbar-button.toolbarbutton-1 image,
#mail-toolbox > toolbar:not([iconsize="small"]) #QuickFolders-toolbar-button.toolbarbutton-1 image {
  height: 24px;
  width: 24px;
}




