.toolbar-height {
    line-height: 24px;
    height: 24px;
}

#QuickFolders-Toolbar {
    margin: 0;
    padding: 0;
}

button.order-button {
    width: 20px;
}

#QuickFolders-Toolbar toolbarbutton.selected-folder {
    text-decoration: underline;
}

#QuickFolders-Toolbar toolbarbutton.has-unread {
    font-weight: bold;
}

#QuickFolders-Toolbar toolbarbutton.has-messages {
    font-style: italic;
}



