
button.order-button {
    width: 20px;
}

#QuickFolders-Toolbar {
    min-height: 24px;
    line-height: 24px;
}

#QuickFolders-Toolbar toolbarbutton {
    line-height: 24px;
    height: 24px;
}

#QuickFolders-Toolbar toolbarbutton.selected-folder {
    text-decoration: underline;
}

#QuickFolders-Toolbar toolbarbutton.has-unread {
    font-weight: bold;
}

#QuickFolders-Toolbar toolbarbutton.has-messages {
    font-style: italic;
}


#QuickFolders-title-label {
    line-height: 24px;
    font-weight: bold;
}

#QuickFolders-FoldersBox {
	max-height:23px;
}


/* Flat Styles below */
#QuickFolders-Toolbar.toolbar-flat {
    margin: 0;
    padding: 0;
    border: 1px solid #AAA;
    background-color: Menu; 
    border-bottom: 3px solid;
    border-bottom-color: Highlight;
}


#QuickFolders-Toolbar.toolbar-flat toolbarbutton {
    -moz-appearance: none !important;
    -moz-border-radius: 4px 4px 0 0;
    background-color: ButtonFace; 
    padding: 1px 5px 0px 2px;
    border: 1px solid #AAA; /* #AAA ThreeDHighlight */
     /* border-right: 1px solid ThreeDShadow; */
     /* border-bottom: 1px solid ThreeDShadow; */
    margin: 3px 0px 0px 3px;	
    line-height: 20px;
    height: 20px;
}




#QuickFolders-Toolbar.toolbar-flat toolbarbutton:hover{
    background-color: Orange !important; 
    color: Black !important;
    height: 21px;
    margin-top: 2px !important; 
}

#QuickFolders-Toolbar.toolbar-flat toolbarbutton:-moz-drag-over {
    background-color: #E93903 !important; 
    color: White !important;
}

#QuickFolders-Toolbar toolbarbutton.dragRIGHT {
  background-image: url("dropRight.gif") !important;
  background-position: right center !important;
  background-repeat: no-repeat !important;
  margin-right: 1px;
}


#QuickFolders-Toolbar toolbarbutton.dragLEFT {
  list-style-image: url("dropLeft.gif") !important;
  background-position: left center !important;
  background-repeat: no-repeat !important;
}

#QuickFolders-Toolbar.toolbar-flat toolbarbutton.selected-folder {
    padding: 0px 5px 2px 2px !important;
    background-color:  Highlight !important; 
    color: HighlightText !important;
    border: 1px solid ThreeDHighlight !important; /* #666 */
    border-right: 1px solid ThreeDDarkShadow !important; /* new */
    border-bottom: none !important;
    height: 21px;
    margin-top: 2px !important;    
    margin-bottom: -1px !important;
}

/* using list-style-image instead of background-image is a hack that makes this behave better with some themes (e.g. outlook blueTB) */
#QuickFolders-Toolbar toolbarbutton.selected-folder.icon {
    list-style-image: url("folder-open.png");
}
#QuickFolders-Toolbar toolbarbutton.inbox.icon {
    list-style-image: url("folder-inbox.png");
}
#QuickFolders-Toolbar toolbarbutton.sent.icon {
    list-style-image: url("folder-sent.png");
}
#QuickFolders-Toolbar toolbarbutton.trash.icon {
    list-style-image: url("folder-trash.png");
}

/* there is probably a more elegant way to specify this, but I did not find it [background-image] does not work :-( */
#QuickFolders-Toolbar toolbarbutton.selected-folder.icon,
#QuickFolders-Toolbar toolbarbutton.inbox.icon,
#QuickFolders-Toolbar toolbarbutton.sent.icon, 
#QuickFolders-Toolbar toolbarbutton.trash.icon {
    -moz-image-region: rect(0px, 16px, 16px, 0) !important;
    background-repeat: no-repeat !important;
    background-position: 3px center;
}


/* Experimental for Trash, FindThread Icon */
#Quickfolders-SpecialTools {
	background-color: Menu; 
	border: 1px solid;
}


/* standard menu look (booring?) */
menupopup.QuickFolders-folder-popup menuitem:-moz-drag-over {
  background-color: Highlight;
  color: HighlightText;
}

/* gradient look  (yum!) by AG*/
menupopup.QuickFolders-folder-popup menuitem.cmd:hover {
  border: 1px solid darkgreen !important;
  background-image: url('jade-bar.png') !important;
}

menuitem[tagName="qfOptions"] {
  list-style-image : url('settings-20.png') !important;
}

menuitem[tagName="qfOrder"] {
  list-style-image : url('order.gif') !important;
}


menuitem[tag="qfRename"] {
  list-style-image : url('rename.gif') !important;
}
menuitem[tag="qfCompact"] {
  list-style-image : url('compact.png') !important;
}
menuitem[tag="qfCategory"] {
  list-style-image : url('ablist-item.png') !important;
}
menuitem[tag="qfRemove"] {
  list-style-image : url('folder-trash.png') !important;
}

menupopup.QuickFolders-folder-popup menuitem:-moz-drag-over,
menupopup.QuickFolders-folder-popup menuitem:hover
{
  max-height: 18px !important;
  color: black !important;
}


menupopup.QuickFolders-folder-popup menuitem:-moz-drag-over {
  border: 1px solid brown !important;
  background-image: url('orange-bar.png') !important;
  list-style-image : url('tb-anchor.png');
}

menupopup.QuickFolders-folder-popup menuitem:hover {
  border: 1px solid brown !important;
  background-image: url('gold-bar.png') !important;
}

menupopup.QuickFolders-folder-popup menuitem:hover
{
  list-style-image : url('folder-open.png') ;
}

 


#QuickFolders-Toolbar toolbarbutton.specialButton {
  -moz-appearance: none !important;
    -moz-image-region: rect( 0px 24px 24px  0px);
/*      -moz-appearance: toolbarbutton !important; */
	background-image: url("thread.png") !important;
	background-repeat: no-repeat !important;
	padding-left: 24px;
/*    dir: normal !important;
    orient: horizontal  !important;
    validate: always !important; */
    line-height: 17px !important;
    height: 17px !important;

}
#QuickFolders-Toolbar toolbarbutton.specialButton:hover {

	
}


/* Options window */
#qf-options-prefpane {
	background-image: url("quickfolders-Icon.png") !important;
    background-position: 10px 10px !important;
    background-repeat: no-repeat !important;
}    

#qf-options-header {
	margin: 5px 0px 5px 45px;
	border: 2px solid;
	-moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
	-moz-border-right-colors: ThreeDHighlight ThreeDDarkShadow;
	-moz-border-bottom-colors: ThreeDHighlight ThreeDDarkShadow;
	-moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
	padding: 5px 8px;
	background-color: Highlight;
	color: HighlightText;
}

#qf-options-header .dialogheader-title {
	margin: 0px !important;
	font-size: larger;
	font-weight: bold;
}

description.quickhelp-desc {
	max-width: 460px;
}



