/* Options window */
#qf-options-prefpane {
	background-image: url("quickfolders-Icon.png") !important;
    background-position: 10px 10px !important;
    background-repeat: no-repeat !important;
}

#qf-options-header {
	margin: 5px 0px 5px 45px;
	border: 2px solid;
	-moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
	-moz-border-right-colors: ThreeDHighlight ThreeDDarkShadow;
	-moz-border-bottom-colors: ThreeDHighlight ThreeDDarkShadow;
	-moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
	padding: 5px 8px;
	background-color: Highlight;
	color: HighlightText;
}

#qf-options-header .dialogheader-title {
	margin: 0px !important;
	font-size: larger;
	font-weight: bold;
}

/****** LINKS  ********/
.text-link {
  padding: 4px 8px;
  text-decoration: underline !important;
}

label.qfTabPreview {
  border: #AAA 1px solid;
  -moz-border-radius: 4px 5px 0 0;
  padding: 3px 8px;
  min-width:20px;
  vertical-align:middle;
}

label.text-link {
  text-decoration: underline !important;
}

label [href^="mailto"] {
  text-decoration: underline  !important;
}

label.text-link:hover {
  color: white !important;
  background-color:	blue !important;
}

label.text-link:focus {
  color: #FFF !important;
  background-color:	#06396F !important;
  /*background-image: url("dellablue.png");
  background-repeat: repeat-x;*/
  border: 1px #006 solid;
  text-decoration: underline !important;
}

label#L2:hover {
  background-color: #EF8F34 !important;
  background-image: url("orange-bar.png");
  background-repeat: repeat-x;
  color: #630 !important;
  border: 1px #630 solid;
  font-weight: bold;
}
label#L2:active {
  color: #630 !important;
  text-decoration: underline;
}


label#L3:hover {
  background-image: url("gold-bar.png");
  background-repeat: repeat-x;
  border: 1px #500 solid;
  color: #500 !important;
  font-weight: bold;
  background-color: #FACB2B !important;
}

label#L3:active {
  color: red !important;
}


label#L4:hover {
  color: #006 !important;
  background-image: url("ice-bar.png");
  background-repeat: repeat-x;
  background-color: #2B9EEE !important;
  border: 1px #006 solid;
  font-weight: bold;
}

label#L4:active {
  color: #00A !important;
}

label#L0:hover, label#L1:hover, label#L5:hover {
  color: #FFF !important;
  background-image: url("dellablue.png");
  background-repeat: repeat-x;
  background-color: #072E5E;
  border: 1px #006 solid;
  font-weight: bold;
}

label#L0:active, label#L1:active, label#L5:active {
  color: #FFF !important;
}


label.text-link:link {
  color: orange !important;
}
label.text-link:visited {
  color: #00A !important;
}


description.quickhelp-desc, description.quickhelp-dbg {
	text-align:justify;
	max-width: 550px;
}

description.quickhelp-dbg, hbox.quickhelp-dbg {
  color:#C0C0C0;
  background-color:#202020;
  padding: 3px 8px 3px 8px;
}
