
@import url('chrome://quickfolders/skin/quickfolders-palettes.css');
@import url('chrome://quickfolders/content/quickfolders-layout.css');

/* Postbox fixes; */
menupopup.QuickFolders-folder-popup menuitem,
menupopup.QuickFolders-folder-popup menu
{
    -moz-appearance: none !important;
    padding: 1px 5px;
    margin: 0px;
}

menupopup.QuickFolders-folder-popup menuitem:-moz-drag-over,
menupopup.QuickFolders-folder-popup menu:-moz-drag-over
{
    -moz-appearance: none !important;
}

#QuickFolders-Toolbar.quickfolders-realTabs
{
  -moz-appearance: toolbar !important;
}
#QuickFolders-Toolbar.quickfolders-flat
{
  -moz-appearance: none !important; /* support coloring and bottom border */
}


/** Postbox fixes */

 #pbSearchThresholdNotifcationBar notification[value=quickfolders-filter] .messageCloseButton {
   visibility: collapse !important;
 }
 
 #pbSearchThresholdNotifcationBar notification[value=quickfolders-filter] button:nth-child(2) {
   -moz-appearance: toolbarbutton;
   /* background-image: close-button-option */
   list-style-image: url("chrome://quickfolders/skin/ico/close-button-option.png");
   min-width: 16px;
   background-image: none;
 }
 #pbSearchThresholdNotifcationBar notification[value=quickfolders-filter] button:nth-child(2) > hbox {
   padding: 0 !important;
   margin: 0 !important;
   max-width: 16px;
   background-image: none;
 }
 #pbSearchThresholdNotifcationBar notification[value=quickfolders-filter] button:nth-child(2) label {
   visibility: collapse !important;
 }
 