/* platform styles - Mac */
#qf-header-container {
  padding-bottom: 0.9em;
}

#QuickFolders-Options-quickhelp {
  font-size: 10pt !important;
}

/* #btnLicense - note this will get special rules for Mac */
.niceFont, 
.niceFont * {
  font-family: initial !important; /* or inherit ? */
  font-size: 10pt !important;
}

#firstName, #lastName {
  width: 12em;
}

#QuickFolders-CurrentFolderTools toolbarbutton {
  max-width: 20px;
  padding-left: 0px;
  padding-right: 0px;
}

/** make sure empty labels don't take up space **/
#QuickFolders-CurrentFolderTools toolbarbutton > .toolbarbutton-text,
#QuickFolders-oneButtonPanel toolbarbutton > .toolbarbutton-text  {
  visibility: collapse;
  margin: 0 !important;
}

