/* platform styles - Linux */
#QuickFolders-Options-Tabbox tab {
	padding: 0.2em 0.6em;
}

toolbar.quickfolders-flat ,
toolbar.quickfolders-pills {
  /* in linux -moz-appearance is 'toolbar' and this overrides any coloring of background / borders */
  -moz-appearance: none !important; 
}

#qf-options {
  min-height: 640px;
}

@keyframes quickfoldersRenewLinux {
	to {
		opacity: 0.5;
		background-color: yellow !important;
	}
}

#QuickFolders-Toolbar #QuickFolders-title-label.expired,
#QuickFolders-Toolbar[brighttext="true"] #QuickFolders-title-label.expired {
	transform: translateZ(0);  /* CPU acceleration hack */
	animation: quickfoldersRenewLinux 2s 60s infinite cubic-bezier(0.66, 0, 0, 1) !important; /* overwrite box-shadow animation as it may be more expensive */
}

menuitem.cmd[tagName="qfRegister"] .menu-iconic-icon {
	animation: none !important; /* performance fix */
}