

/* horizontal alignment */
.hbox {
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: row;
}

/* vertical alignment */
.vbox {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.vbox.centered {
  justify-content: center;
}

.vbox .separator,
.vbox .spacer {
  height: 10px;
}

.hbox .spacer {
  width: 10px;
}


fieldset {
  margin-right: 1em;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

fieldset legend {
  margin-top: 0.3em;
  font-size: 1em;
  padding-left: 4px;
  padding-right: 4px;
}

html|legend {
  margin-top: 0.5em;  
}

#mailCommandsCustomize {
  margin-left: 1em;
}

*[collapsed=true] {
  display: none !important;
}

/* General elements */
#qf-options-prefpane label {
  line-height: 1.3em;
  font-size: 0.85em;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;  
}

#supportgrid .button label {
  justify-content: center;
  font-size: 1.05em;
}

#QuickFolders-Options-support.active {
  background-image: url("thunderbird-earlybird.png") !important;
}

#qf-options-header {
  flex-grow: 1 !important;
}

#qf-options-header .spacer {
  flex-grow: 1;
}
#qf-options-header-description {
  border: none !important;
}
#qf-youtube {
  align-self: center; 
}

#QuickFolders-General {
  list-style-image: url("ico/settings.svg");
}
#QuickFolders-Advanced  {
  list-style-image: url("ico/settings.svg");
}
#QuickFolders-Layout {
  list-style-image : url("ico/smiley.svg");
}
#QuickFolders-Help {
	list-style-image : url("ico/help.svg") !important;
}
#QuickFolders-Support {
	list-style-image : url("ico/info.svg") !important;
}
#QuickFolders-Pro {
  list-style-image : url("ico/pro.png") !important;
}


 /* Style the tab */
.tabs {
  border-bottom: 1px solid rgba(50,50,50,0.3);
}

.tabs ul {
  margin: 0;
  overflow: hidden;
  padding-left: 1em;
}

/* Style the buttons that are used to open the tab content */
.tabs li {
  background-color: inherit;
  border: none;
  cursor: pointer;
  float: left;
  list-style: none;
  outline: none;
}

.tabs button {
  -moz-appearance: none;
  border-radius: 0.5em 0.5em 0 0;
}

/* Change background color of buttons on hover */
.tabs button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tabs button.active {
  background-color: #33f !important;
  color: #FFFFFF !important;
}

/* Style the tab content */
.tabcontent-container section {
  display: none;
  padding: 6px 12px;
  /* border: 1px solid #ccc; */
  border-top: none;
} 

.tabcontent-container section.active {
  display: block;
}

.qfTabPreview {
  line-height: unset;
  overflow: clip;
  text-overflow: ellipsis;
  white-space: nowrap;
}