

/* horizontal alignment */
.hbox {
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: row;
}



/* vertical alignment */
.vbox {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
}



 /* Style the tab */
.tabs {
  border-bottom: 1px solid rgba(50,50,50,0.3);
}

.tabs ul {
  margin: 0;
  overflow: hidden;
  padding-left: 1em;
}

/* Style the buttons that are used to open the tab content */
.tabs li {
  background-color: inherit;
  border: none;
  cursor: pointer;
  float: left;
  list-style: none;
  outline: none;
}

.tabs button {
  -moz-appearance: none;
  border-radius: 0.5em 0.5em 0 0;
}

/* Change background color of buttons on hover */
.tabs button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tabs button.active {
  background-color: #33f !important;
}

/* Style the tab content */
.tabcontent-container section {
  display: none;
  padding: 6px 12px;
  /* border: 1px solid #ccc; */
  border-top: none;
} 

.tabcontent-container section.active {
  display: block;
}

.qfTabPreview {
  line-height: unset;
  overflow: clip;
  text-overflow: ellipsis;
}