@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*  Advanced Properties */
.miniBtn {
  -moz-appearance: toolbarbutton;
	height: 8px !important;
	max-height: 10px !important;
	max-width: 3em !important;
}

#txtBackground {
  min-width: 25em;
}

.textLink {
  -moz-appearance: none;
	text-decoration: underline;
	cursor: pointer;
}

#btnClose {
  -moz-appearance: -moz-window-button-close;
	margin-top: -4px;
}

@keyframes qfIconRotateY {
  from {
	  transform: rotateY(0deg);
	}
	to {
	  transform: rotateY(359deg);
	}
}

button.proFeature {
	-moz-appearance: none;
  animation: qfIconRotateY 2s linear 0.3s infinite;
	background-image: url('chrome://quickfolders/content/skin/ico/pro.png') !important;
	border: none;
	display: inline-block;
	height: 19px;
	min-width: auto;	
	min-height: auto;	
	margin: 0 !important;
	width: 30px !important;
}
.proFeature .button-box {
	max-height: 16px;
}

#cssPreview {
	border: 1px solid rgb(200,200,200,0.3);
	border-radius: 4px 4px 0px 0px !important;	
	margin: 3px 5px;
	padding: 4px 1.5em 2px;
}

/* ::::: dialog header ::::: */
/* styles from accountManage.css */

#myHeader { /* was dialogheader */
  /* -moz-binding: url("chrome://messenger/content/generalBindings.xml#dialogheader"); */
  margin: 0 5px 5px;
  background-color: Highlight;
  border: 1px solid ThreeDDarkShadow;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  color: HighlightText;
  padding: 3px 8px 3px;
}

.dialogheader-title {
  margin: 0 !important;
  font-size: larger;
  font-weight: bold;
	text-shadow: -1px -1px 1px rgba(0,0,0,0.67), 1px 1px 0 rgba(140,140,140,0.6);
}

.dialogheader-description {
  text-shadow: -1px -1px 1px rgba(0,0,0,0.67);
}


/* grid replacement */
.grid-container {
  align-content: start;
  align-items: center;  
  display: grid;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
}

#advancedGrid {
  grid-template-columns: auto auto; /* widths of columns */
}

#styleGrid {
  grid-template-columns: auto auto; /* widths of columns */
}
