/* SEPARATED ANIMATION RULES TO DISABLE IN PRO VERSION */
@keyframes qfIconRotateY {
  from {
	  transform: rotateY(0deg);
	}
	to {
	  transform: rotateY(359deg);
	}
}

menuitem.cmd[tagName="qfRegister"].free .menu-iconic-icon,
#QuickFolders-Pro.free .tab-icon {
  animation: qfIconRotateY 3s linear 0.3s infinite;
	height: 19px;
	width: 30px;
}


@keyframes qfIconRotateX {
  from {
	  transform: rotateX(0deg);
	}
	to {
	  transform: rotateX(359deg);
	}
}

menuitem.cmd[tagName="qfRegister"].expired .menu-iconic-icon,
#QuickFolders-Pro.expired .tab-icon {
  animation: qfIconRotateX 3s linear 0.3s infinite;
}

@keyframes qfDlgPulse {	to {box-shadow: 0 0 0 10px rgba(150, 80, 60, 0.12);}}

button[dlgtype=extra2],
#btnLicense.expired,
#btnLicense.register {
  animation: qfDlgPulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
	box-shadow: 0 0 0 0px rgba(40, 40, 40, 0.0);
}

tab {
    -moz-context-properties: fill, stroke;
    fill: currentColor;
    stroke: transparent;
}

/* ICON RULE TO OVERWRITE IN PRO VERSION */
menuitem.cmd[tagName="qfRegister"].free,
tab#QuickFolders-Pro {
	list-style-image : url('chrome://quickfolders/content/skin/ico/pro.png') !important;
}
menuitem.cmd[tagName="qfRegister"].paid,
tab#QuickFolders-Pro.paid {
	list-style-image : url('chrome://quickfolders/content/skin/ico/pro-paid.png') !important;
}
menuitem.cmd[tagName="qfRegister"].expired,
tab#QuickFolders-Pro.expired {
	list-style-image : url('chrome://quickfolders/content/skin/ico/pro-expired.png') !important;
}


tab#QuickFolders-Advanced {
	list-style-image: url("chrome://quickfolders/content/skin/ico/settings.svg");
}

tab#QuickFolders-Layout {
	list-style-image : url('chrome://quickfolders/content/skin/ico/smiley.svg');
}

menuitem.cmd[tagName="qfHelp"],
tab#QuickFolders-Help {
	list-style-image : url('chrome://quickfolders/content/skin/ico/help.svg') !important;
}

menuitem.cmd[tagName="qfSupport"],
tab#QuickFolders-Support {
	list-style-image : url('chrome://quickfolders/content/skin/ico/info.svg') !important;
}

menuitem.cmd[tagName="qfRegister"] .menu-iconic-icon {
	margin-left: -7px;
	margin-right: -7px;
}

tab#QuickFolders-General  {
	list-style-image: url("chrome://quickfolders/content/skin/ico/settings.svg");
  fill: var(--new-highlight);
  stroke: currentColor;
}

#QuickFolders-FindPopup menuitem.quickFolder  {
	list-style-image : url('chrome://quickfolders/content/skin/ico/folder-tab-small.png') !important;
}

#QuickFolders-FindPopup[tag=quickMove] menuitem:hover {
	list-style-image : url('chrome://quickfolders/content/skin/ico/tb-anchor.png') !important;
	/* text-decoration: underline; */
}

menu.dbgMenu menuitem:hover,
menu#QuickFolders-debug, menu.dbgMenu {
	list-style-image : url('chrome://quickfolders/content/skin/ico/bug.svg') !important;
}


menuitem.cmd[tagName="qfFindFolder"] {
  list-style-image: url('chrome://messenger/skin/icons/search-glass.svg') !important;
}
menuitem.cmd[tagName="qfRebuild"] {
  list-style-image: url('chrome://calendar/skin/shared/icons/synchronize.svg') !important;
}
menuitem.cmd[tagName="qfTidyTabs"] { list-style-image : url('chrome://quickfolders/content/skin/ico/clean.svg') !important; }
menuitem.cmd[tagName="qfRepairTreeIcons"] {
  list-style-image: url('chrome://messenger/skin/icons/image.svg') !important;
}
menuitem.cmd[tagName="qfPreviewToolbar"] { list-style-image : url('chrome://quickfolders/content/skin/ico/toolbar.png') !important; }
menuitem.cmd[tagName="qfOrder"] {
  list-style-image: url('chrome://quickfolders/content/skin/ico/order.svg') !important;
}

/* menuitems */
menuitem.cmd[tagName="qfSplash"] {
  list-style-image : url('chrome://quickfolders/content/skin/ico/new.png') !important;
}


toolbarbutton#QuickFolders-Options,
menuitem.cmd[tagName="qfOptions"] .menu-iconic-icon {
	list-style-image: url('chrome://quickfolders/content/skin/ico/settings.svg') !important;
}
toolbarbutton#QuickFolders-Options:hover,
menuitem.cmd[tagName="qfOptions"]:hover .menu-iconic-icon {
    fill: var(--new-highlight) !important;
	stroke: currentColor !important;
}

menuitem.cmd[tagName="qfPaintBucket"] .menu-iconic-icon,
#QuickFolders-Toolbar toolbarbutton#QuickFolders-paintBucketActive {
	list-style-image: url("chrome://mozapps/skin/extensions/category-themes.svg");
}
#QuickFolders-Toolbar toolbarbutton#QuickFolders-paintBucketActive {
  -moz-appearance: none !important; /* make sure we can fill in a background color */
	min-height: 22px;
	border-radius: 5px;
	border: 1px solid #BBB;
}

#quickFoldersNavToggle {
	list-style-image: url('chrome://quickfolders/content/skin/ico/navigation-mode.svg');
	-moz-appearance: none !important;
	margin-left: -2px;
	margin-right: -2px;
	min-width: 12px; /* fix Nautipolis etc */
	padding: 0 !important;
	width: 12px !important;
	height: 20px;
    -moz-context-properties: fill, fill-opacity, stroke, stroke-opacity;
    fill: currentColor;
    fill-opacity: var(--toolbarbutton-icon-fill-opacity);
	stroke: var(--green-highlight);
    stroke-opacity: 1;
}
/* lets make the background invisible! */
#quickFoldersNavToggle[checked="true"] {
    stroke: white;
    stroke-opacity: 1;
	background-image: none !important;
	background-color: transparent;
	background-size: 12px 16px !important;
	background-repeat: no-repeat;
}

#quickFoldersNavToggle image {
   margin: 0;
}

#quickFoldersPreviousUnread {
	list-style-image: url("chrome://messenger/skin/icons/previousmsg.svg");
}

#quickFoldersNextUnread {
	list-style-image: url("chrome://messenger/skin/icons/nextmsg.svg");
}

#quickFoldersPreviousUnread[disabled="true"],
#quickFoldersNextUnread[disabled="true"] {
	fill-opacity: 0.5 !important;
}

#quickFoldersSkipFolder {
    list-style-image: url("chrome://quickfolders/content/skin/ico/skip-folder.svg");
    stroke: var(--green-highlight) !important;
    stroke-opacity: 0;
}

/* colorpicker replacement */
input[type="color"] {
	width: 40px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}




